[2017-12-13 22:31] waldnercharles opened #4 "Button Component!"
Should we change the structure of our button component? I kind of like the idea of having a component that uses an attribute selector.

Thoughts?

[2017-12-13 23:23] jtrujill commented on #4
I like the idea of having a component which uses a selector of:

[code]

This will allow us to stylize buttons and also links that have the hc-button attribute.

[2017-12-14 00:39] waldnercharles commented on #4
To expand the conversation further, and potentially cause some controversy we could even do something like this:
[code]

This would let us consume our button doing something like: `<button [hc-button]="coolButtonProps">`. This is similar to the style @corytak has implemented where all of the button's input properties are in a single ButtonOptions class. Though, that is also up for debate.

[2017-12-14 00:51] jtrujill opened #5 "Removing ButtonComponent options"
So this is somewhat related to issue #4, but I didn't want to take over that issue. I feel that the entire Button component's options input could be removed entirely by using the select statement I [mentioned](https://github.com/HealthCatalyst/Fabric.Cashmere/issues/4#issuecomment-351557714)

In addition to defining a different component selection, if we added ng-content to our buttons template it

[2017-12-14 01:11] corytak commented on #5
@jtrujill Not too harsh at all! All very valid points. I'm hoping that the culture of this project allows people to speak freely and not worry about apologizing for calling things out.

Agreed about not reskinning native html element functionality. There's no need for a popover/disabled setting if we're able to use the native button and a elements' title/disabled properties.

Also agreed that pass

[2017-12-14 01:53] jtrujill commented on #5
You make a valid point that we could just have our styles defined in some sort of global scss file; however, I like the idea about keeping it as an Angular component just because that gives you more power. I'm not sure how the button could be expanded upon but I'd hate to take that power from us in the future

[2017-12-14 03:03] jtrujill commented on #5
Something I just thought about is that with Angular components it helps to protect your elements styling by applying attributes to your DOM and CSS to make the component's stylings even more specific, emulating shadow dom.

This leads me to another issue which is should all of our components have ViewEncapsulation? There are benefits and cons to using it. Say we have a library-wide scss file which

[2017-12-14 14:33] corytak commented on #5
There are definite tradeoffs between flexibility and standardization. Erring on the side of ViewEncapsulation turned on would push us toward more standardization with less flexibility and that's the way I'm leaning right now.

As an aside, ViewEncapsulation by itself would not guarantee that our components always looked identical, we would also want to prefix our class names. E.g. if we define a b

[2017-12-14 17:02] jtrujill commented on #5
I agree with you. I guess I'm worrying about having too rigid of a library but that's kinda what we're trying to achieve. I think that's a good point that having our own property defined for the color makes our button interface more explicit and obvious to the user.

I also hadn't even thought about how the class could possibly conflict with another definition. I'd hate to have to prefix our class

[2017-12-14 17:10] jtrujill commented on #5
I'll see if I can get a pull request in over the weekend that has the features that we've discussed and we can have discussions about that next week

[2017-12-18 16:28] jtrujill commented on #5
I created a pull request #6 which has the updates that we were talking about. The pull request is still a work in progress but this will allow people to see the work that has been done and make suggestions

[2017-12-18 21:51] jtrujill opened #8 "Standardized project formatting"
As was mentioned in pull request #6 we need to try and standardize our formatting within our project. What I want to do is try and get a conversation started about what formatting we want to use. I'd like to create an editorconfig file to help us with some of that formatting.

Editorconfig isn't powerful enough to support all the different formatting options that are available so we'll need to loo

[2017-12-18 22:09] jtrujill commented on #8
I'll see about getting another pull-request out for this issue to help stimulate conversation

[2017-12-19 04:47] benjanderson commented on #4
many of the requested changes are implemented in #6

[2017-12-27 16:09] jtrujill commented on #8
Pull request #10 helps to standardize the project better so I'm going to close this issue

[2017-12-27 16:09] #8 closed

[2018-01-05 23:00] #4 closed

[2018-01-05 23:00] jtrujill commented on #5
I'm going to close this issue since pull request #6 has now been merged in

[2018-01-05 23:00] #5 closed

[2018-01-07 19:19] jtrujill opened #14 "Input component"
I'd like to volunteer for creating an input component. I'd like to use Angular Material's input as a basis, which can be found here https://material.angular.io/components/input/examples

My experience with using bootstrap for forms was that it was cumbersome with all of it's required DOM and classes, and I'd like to simplify that process to have a more consistent look. I really like how Material's

[2018-01-09 17:21] andrew-frueh opened #16 "Application Switcher"
Something that we've always envisioned since the earliest days of the standard header was an easy way to switch between Catalyst apps.

https://xd.adobe.com/view/44c796df-448a-4c78-8b03-d65bd8f39fa9/screen/6f63b4b6-c06f-4b62-afcf-4b961d0ba425/Home-App-Switcher

@benjanderson and the Atlas team have developed a solid version of this in their new release - but for this to really work, it's something

[2018-01-13 20:30] benjanderson commented on #16
I am currently working on this, I will update this thread with progress and requests for feedback

[2018-01-17 21:20] benjanderson opened #17 "Cashmere Demo Page"
The demo site was based off the site @andrew-frueh example of a [style guide](https://spark.healthcatalyst.com/community/ux/pages/components) on spark. The current version loosely resembles that example. Our demo of our components needs improvement to bring it up to modern style guide standards

This is a list of things that need to be done, but is not comprehensive:
- [x] landing page (example: h

[2018-01-17 21:24] jacquie opened #18 "Using lodash"
We have discussed not allowing dependencies in Cashmere, but some pretty basic Javascript functions are not implemented for some browsers (i.e. IE) for example Array.find [(https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/find)]

If we could use lodash then these problems will go away without us having to worry about polyfills and whatnot.

[2018-01-17 21:32] benjanderson commented on #18
I am not opposed to allowing lodash. However, as this is mainly a UI library we wont have too much logic.

Is there a use case that you need it for @jacquie?

[2018-01-17 21:46] joeskeen commented on #17
Before jumping into tabbed code, I'd like to add code syntax highlighting.  [ngx-highlightjs](https://murhafsousli.github.io/ngx-highlightjs/) looks promising, what do you think @benjanderson?

[2018-01-17 21:48] corytak commented on #17
My .02 if it's just for the demo project, I think it would be fine to add a library as a devDependency. If it's going into a component that we're shipping we'll probably need to evaluate libraries more strictly.

[2018-01-17 21:54] andrew-frueh commented on #16
@benjanderson as per our discussion today - feel free to close this issue and replace it with all the sub tasks you identify related to the navbar, and then we'll just label them as "navbar"

[2018-01-17 22:05] joeskeen commented on #17
As a n00b to the project, how are we separating out the demo project (cashmere.azurewebsites.net) from library code?  IMHO the demo project should have its own `package.json` so we don't inadvertently add dependencies to the library.

[2018-01-17 22:24] ckeates commented on #18
![image](https://user-images.githubusercontent.com/10159523/35070236-db6ffcfc-fb99-11e7-998e-a583144ea327.png)

When I tried accessing the demo site via IE earlier, these were the errors I was seeing.  I am not sure if these were related to the components themselves or the demo site. If we are going to be using ES6 methods/features then we will need some solution for IE polyfills.

[2018-01-17 23:20] benjanderson commented on #17
I am ok with libraries in the demo project as long as they are not included in the main npm package. I am not sure how that works and will defer to @corytak if that is possible

[2018-01-17 23:45] corytak commented on #17
The package.json file in the dist folder is generated in build.js
[code]
Basically, it's copying the package.json to the dist folder and replacing `dependencies` with `peerDependencies`. To be included in the npm package/library, the new module needs to be added to src/app/lib/cashmere.ts (the public api). The app.module.ts is the demo app and each component so far has a demo folder as part of its

[2018-01-18 00:22] joeskeen opened #19 "Browser Support"
## tl;dr

Browser support needs to be decided upon and documented.  Currently there is some inconsistencies about what we support.

`tsconfig.json`:

[code]

This suggests that we are targeting only browsers supporting ES2016, or that we are including polyfills for any browsers that don't support ES2016.

`package.json`

[code]

As [core-js](https://github.com/zloirock/core-js) is a polyfill libra

[2018-01-18 00:26] joeskeen commented on #18
I do know why we are getting that error in IE, but it may be a matter of configuring what parts of `core-js` we are using (as this is already included in the project). See core-js documentation for `string.startsWith`: https://github.com/zloirock/core-js#ecmascript-6-string and `Array.find`: https://github.com/zloirock/core-js#ecmascript-6-array

IMHO if we can just use polyfills (which defer to t

[2018-01-18 00:38] joeskeen commented on #17
In many open source projects, the documentation/demo/reference implementation site is separated from the library code in a separate sub-folder. (You can see this practice used with [GitHub Pages](https://help.github.com/articles/configuring-a-publishing-source-for-github-pages/#publishing-your-github-pages-site-from-a-docs-folder-on-your-master-branch).)  I think this makes for a cleaner separatio

[2018-01-18 01:01] corytak commented on #17
@joeskeen I like the idea of removing any magic out of the process and making the package less intimidating for new contributors. +1 from me.

[2018-01-18 01:37] joeskeen commented on #17
I think I'll make a separate issue for this effort, as the scope is beyond the demo page.

[2018-01-18 14:15] joeskeen opened #20 "Separate documentation site from library code"
As per discussion on #17, separating out the documentation site from the library code has advantages including, but not limited to:

* dependencies can be added to the documentation site without bloating the library
* it's easier to understand when making changes what impact those changes will have
* more approachable for new contributers

Making changes to this will require care to preserve the N

[2018-01-19 14:18] waldnercharles commented on #14
I like the idea of the input component handling errors. Were you thinking that errors would be handled separately in the DOM similar to angular material?
[code]

[2018-01-19 21:13] jtrujill commented on #18
I agree with @benjanderson and think we should avoid using any 3rd party library because of the possible conflicts that could occur for the person using our library and also to avoid bloat, since I'm unaware of how good all 3rd party libraries interact with rollup and/or webpack. I think our javascript should target es5 while our CSS targets CSS3. This way we can avoid polyfills or 3rd party libs.

[2018-01-19 21:15] jtrujill commented on #16
I missed the discussion on this. Is there a link on what was decided. I don't know the specifics but it might make more sense to give this it's own repo

[2018-01-19 21:30] benjanderson commented on #14
I really like the idea of the errors, I dont think the mockups have examples of error states of the inputs. Atlas has very little input validation, but I would be curious what other teams do: @corytak and @jacquie so we can have a basis of how to style it

I would like to know what @andrew-frueh thinks of that sort of labels that material has, below is the gif
![](https://i.imgur.com/9iQQ3Lc.gif)

[2018-01-19 21:36] jtrujill commented on #14
Here's the demo page of angularjs material, which is the version I'm familiar with https://material.angularjs.org/latest/demo/input

As you can see from the demo, the error shows up right below the input and I thought it was a great design when I was using the library

Here's what the source code looks like:
[code]

When I had to do a lot of error handling for forms I found this to be the easiest

[2018-01-19 22:17] andrew-frueh commented on #14
@jtrujill @benjanderson @waldnercharles - this is what's so great about taking style guide concepts and fleshing them out, is that it surfaces a lot of important details like this.  I'm totally in agreement with you that placing the error below the affected field is good UX.  What I like about the Angular example above is the layout flexes to accommodate the additional error text underneath.  It c

[2018-01-22 20:31] nickrflynn opened #26 "Add checkbox component"
I'm working on adding a checkbox component based on one we made for use in Atlas.  Posting here to avoid duplicated work.

[2018-01-22 21:11] corykon opened #27 "Clean up colors"
We need clean up the color.scss file:
- Audit colors being used, make sure they're style guide approved.
- Create a consistent and scalable naming scheme

Creating this issue to avoid any duplication of work. I'll take an opinionated first crack at it, then submit a PR and get some feedback.

[2018-01-22 21:24] andrew-frueh commented on #26
Hooray!  @nickrflynn I actually had this on my todo list for this week to put together some html/css for what a checkbox should look like.  How can we work together on this?  Do you want to let me know what branch in your fork you're working on for this, and then I can make visual tweaks and submit a pull request to your fork?

[2018-01-22 21:29] nickrflynn commented on #26
Sounds great @andrew-frueh.  I'll let you know when I have a branch in a good state for you to grab.  Might be a day or so though balancing this with other dev work.

[2018-01-23 20:41] nickrflynn commented on #26
Branch (named [checkbox](https://github.com/nickrflynn/Fabric.Cashmere/tree/checkbox)) is up if you want to take a look at styling @andrew-frueh.  The component isn't quite ready for a pull request yet but it's close.  It will be a good v1 addition but there will be more we can/should do with it (e.g., read-only support, utilize Angular's ControlValueAccessor, an possible indeterminate state, etc.

[2018-01-24 22:34] corykon commented on #27
#28

[2018-01-24 23:24] #27 closed

[2018-01-25 15:50] nickrflynn opened #30 "Styling split between .scss files and inline html"
We are styling inline in the html in some places and in others we are splitting that out into .scss files.  Personally I would prefer to write all css in one place.

[2018-01-25 16:22] #26 closed

[2018-01-26 22:43] #18 closed

[2018-01-26 23:12] andrew-frueh commented on #14
Hey @jtrujill - for this component, do you think you can include options so the input box can be used as either a search or filter box?  That would just mean including a FontAwesome glyph on the right side of the input box (see below):

<img width="242" alt="search" src="https://user-images.githubusercontent.com/22795893/35464531-a1527ac4-02b3-11e8-9f33-d2f1b4042429.png">

<img width="268" alt="fi

[2018-01-26 23:14] #16 closed

[2018-01-26 23:59] andrew-frueh opened #35 "Radio Buttons"
I'm nominating @nickrflynn for this one since he did such a good job with the [checkbox component](http://cashmere.azurewebsites.net/demo/checkbox).  Nick - I think it worked pretty well on the checkbox for you to get it started and for me to clean up the style.  So maybe we can follow the same pattern here?  I'm thinking that the radio buttons will kind of be an abstraction of what we've already

[2018-01-27 00:01] nickrflynn commented on #35
Sounds good.  I'll get on it.

[2018-01-27 03:48] nickrflynn commented on #35
I just pushed a new branch (`radio-button`) to my fork if you want to take a look @andrew-frueh.  The demo page and the component itself still need work but now you can check out styling when you want to.

[2018-01-27 15:56] andrew-frueh commented on #35
You're killin' it @nickrflynn !  The styling looks perfect.  Only suggestion I'd have would be that when the radio buttons are disabled, we probably shouldn't show anything looking checked.  I had to look around a bit to make sure that's standard behavior, and based on my quick google image search that seems to be correct.  I'll make that change and update the demo page content and send you a pull

[2018-01-27 16:37] jtrujill commented on #14
@andrew-frueh I can do better. What I can do is write an icon directive which will allow me to position any icon that is between the input components tags wherever I want. For example this is what the html could look like

[code]

In the hc-input component I could then grab that hc-icon and position it on the right side.

I've been really busy lately, but I'm hoping to get started soon

[2018-01-27 16:40] jtrujill commented on #14
We really don't need to include libraries like fontawesome, glyphicon or any other 3rd party javascript library. I really hope that we don't include any of these other libraries cause it will bloat or cause conflicts with the use of this library

[2018-01-27 16:42] andrew-frueh commented on #14
That sounds awesome @jtrujill - thank you!  And we're definitely all in agreement that we should have our own set of glyphs instead of FontAwesome, etc; it's just coming up with a list of what glyphs to include is a non-trivial exercise.  So FontAwesome is a placeholder for the time being.  But you've reminded me that HC icons is another item I should add to the Cashmere project plan.

[2018-01-27 16:48] andrew-frueh opened #37 "Horizontal Tabs"
Horizontal tabs can be used anywhere, but are most commonly used as a secondary navigational elements on pages that have a limited number of sub pages.  Those with long lists of sub pages are better served using Vertical Tabs.

**Example of Horizontal Tabs for Secondary Navigation**

![horiztonaltabs](https://user-images.githubusercontent.com/22795893/35474110-dcec57d8-0346-11e8-82da-7e4604b09771.

[2018-01-27 16:57] andrew-frueh opened #38 "Vertical Tabs"
Vertical Tabs are most often used as a form of secondary navigation on pages that have a large number of sub-pages.  For those with a fixed, smaller number of sub-pages, using @[Horizontal Tabs](https://github.com/HealthCatalyst/Fabric.Cashmere/issues/37) might be more appropriate.  Horizontal and Vertical tabs may be used in conjunction on pages where secondary and tertiary levels of navigation a

[2018-01-27 17:47] andrew-frueh opened #39 "Popover"
A popover is a dropdown menu that is triggered by a button, navBar element, etc.  A popover is typically a list of tertiary links that trigger an action.

<img width="228" alt="typical popover" src="https://user-images.githubusercontent.com/22795893/35474712-52346f14-034f-11e8-8d00-87961494fa78.png">

More advanced uses of a popover might be to select the visible columns on a table, in which case

[2018-01-27 18:04] andrew-frueh opened #40 "Modal Dialog"
A modal dialog is a window that forces the user to interact with it before they can go back to using the parent application.  Our Catalyst modals include a header section with a title, a content area, and a footer section with Save and Cancel buttons.  The height of the header and footer should be fixed, but height and width of the overall modal should be configurable.

![modaldialog](https://user

[2018-01-27 18:15] andrew-frueh opened #41 "HC-Icons Font"
Develop an HC-Icons font to remove our dependency on FontAwesome, GlyphIcons, or any other 3rd party glyph set.  This document represents the current best understanding of what icons should be included in this font:

https://spark.healthcatalyst.com/docs/DOC-3157

Please look it over and let us know us know if anything is missing that you currently make use of in your apps.

[2018-01-27 18:30] jtrujill commented on #41
I'm working on this right now I'll get it in today

[2018-01-27 18:41] andrew-frueh opened #42 "Filter Drawer"
For apps that make use of robust filtering, a left side filter drawer is used to expose what filters are available allow users to make selections.  Within the drawer users can save Filter Sets to easily flip between previously saved sets of filter selections.  Clicking on a filter row typically triggers a modal with a picklist where specific selections can be made.

The filter drawer integrates wi

[2018-01-27 18:42] andrew-frueh commented on #41
That's awesome @jtrujill - thank you!  Let me know need svgs for any of the icons in that Spark doc.

[2018-01-27 18:50] andrew-frueh opened #43 "Subheader"
The subheader is an optional space, but it very commonly used among Catalyst apps. It is meant to be a flexible area that can be used as per the needs of the application. Some may choose to use it for breadcrumbs, others for secondary navigation, filtering, search, etc.  The most common usage pattern for the subheader is breadcrumbs pinned to the left and one or more buttons pinned to the right.

[2018-01-27 18:57] jtrujill commented on #42
I have a completed component for this that I created for Cafe. Here's what it looks like

<img width="1001" alt="screen shot 2018-01-27 at 11 57 03 am" src="https://user-images.githubusercontent.com/5596515/35475309-3b57a0f4-0359-11e8-8a79-9d030cc0be3e.png">

I'll get this converted by the end of the weekend or Monday

[2018-01-27 19:02] andrew-frueh commented on #42
You're a rockstar @jtrujill - the CAFE (or should I say "Touchstone") filters drawer looks perfect.  I think CAFE was actually the first place we came up with that concept, but it's being used all over now.  The only difference is the "Filter Sets" thing that we added in later, and I think Leading Wisely may have added that.  Am I remembering that right @jacquie?  In any case, go ahead and do a PR

[2018-01-27 19:04] jtrujill opened #44 "Mark library as alpha discussion"
I think we should make it very clear that all these components are in their early stages and that their interfaces and stylings could change. Basically we should discourage it's use until it's more stable. I'd hate for people to do an entire site based on these components only for us to introduce breaking changes causing a complete re-write.

However, I do think getting the components out their fo

[2018-01-27 19:57] jtrujill opened #45 "List Component"
I'm going to write a list component that allows you to have 1 or 2 lines of text and an icon or avatar on one or both the left and right side.

This component will have an outside component and an child component. The outside component will house all the child component and will be in charge of layout.

The child component will be in charge of laying out the list-items content: text, icon and/or a

[2018-01-27 20:09] andrew-frueh commented on #45
I could see this being useful in a number of places.  In addition to #42, it could also work really well in #38 and #39 as well.

[2018-01-27 20:14] andrew-frueh commented on #44
You make a good point, and @benjanderson brought this up as well.  I'll make a warning at the top of our demo pages and also add it to the ReadMe that this is currently pre-release and in development.

But you're also correct that we'll need to test out these components in context a bit before we can call a 1.0 release of the library official.  I think this is a perfect topic for conversation at t

[2018-01-27 20:15] andrew-frueh commented on #38
Thanks for taking this one @corytak!

[2018-01-27 20:27] andrew-frueh commented on #17
@benjanderson & @joeskeen - I'm planning on some work into this one when I have spare time this week.  I'll take "global styles", "link back to repo", "component list styling", and "version number / alpha release warning".  Let me know if either of you have already put work into any those that haven't been merged.

[2018-01-27 20:34] andrew-frueh opened #46 "Date Picker"
We outlined a date picker in the style guide - which I think may have been implemented by Safety Surveillance and or Leading Wisely.  The actual version built in the apps may look or function differently.  This was the suggested use information:

"Determining whether or not to include a date picker should be determined by the usage of the app. If dates are within the current or upcoming year or if

[2018-01-27 20:37] andrew-frueh commented on #46
In looking at this, it will probably make the most sense for the "Select date" box to use the component from #14 - especially since @jtrujill is designing it to allow for a glyph to be included on the right side.

[2018-01-27 20:51] corytak commented on #38
@andrew-frueh here's [what I've got so far](https://github.com/corytak/Fabric.Cashmere/tree/vertical-tabs). I'd love your feedback on styling as I wasn't sure if the tab should have a box-shadow or on the padding amounts.

[2018-01-27 21:01] andrew-frueh commented on #38
This is looking awesome @corytak - well done!  Two minor tweaks, but overall you nailed the styling:
- I think we want to leave a little bit of whitespace above the very first tab like you'll see on [this prototype page](https://xd.adobe.com/view/f0c739fa-f83c-4cf5-ad04-d8f39a419fe7/screen/183af570-387b-4ea1-8ea3-e75df8bfdaa5/Admin)  It keeps everything from running together.  In that mockup, I le

[2018-01-28 00:48] jtrujill commented on #43
Hey @andrew-frueh could if you can get me the design specifics for the header and subheader I can write a component for both of them.

What I could do for a design is create a toolbar parent component which will act as the main toolbar(header) and then within that I could create a child component that would house the subtoolbar(subheader)

[code]

[2018-01-28 14:32] andrew-frueh commented on #43
I like the idea of the subheader as a child of the main navbar @jtrujill.  You and @benjanderson should sync up, because Ben has already started working on a component for the navBar - it's currently in the upstream branch called "navbar" I think.  You're absolutely right though that the subheader will never exist in the absence of the main navbar, so it only makes sense that their would be a pare

[2018-01-28 18:53] benjanderson commented on #44
I would suggest publishing the npm with the prerelease tag, that makes it clear that it is not release ready

[2018-01-28 19:06] andrew-frueh commented on #43
Just remembered one wrinkle to keep in mind when thinking about the subheader.  In most situations it will go full width to match the navBar.  But when using #38 Vertical Tabs (particularly in Admin sections), we've sometimes used the subheader as a way to do secondary navigation within a tab.  So it would be ideal if this subheader component can accommodate both use patterns.

![admin - roles det

[2018-01-29 02:23] jtrujill opened #50 "Formatting issues"
I've noticed that files are being committed that don't match the formatting standards that we have currently have. There seems to be an issue with tslint not identifying a file which doesn't use the correct amount of indent space. That issue can be found here https://github.com/palantir/tslint/issues/2814

I don't know what it's like to use Visual Studio since I use intellij and Rider for my devel

[2018-01-29 17:03] twaldron opened #52 "Checkbox Alignment issues"
Using the check box as exampled I see alignment issues with the label
`   <hc-checkbox  [checked]="isFilteredToWatched" (change)="onShowMyWatchedEvents()" name="isFilteredToWatched">Items I'm Watching</hc-checkbox> `
![image](https://user-images.githubusercontent.com/5375419/35523074-33f82e90-04db-11e8-8206-daa5ea898f2e.png)

If i wrap it in a div and give that div a class (even if there is no CSS

[2018-01-29 17:50] nickrflynn commented on #52
Thanks for testing this out @twaldron.  (Note for others: this component was copied from the repo and since we don't have an npm package yet)  I would like to look at this with you again sometime and get a confirmation that there are no other conflicting styles.

[2018-01-29 18:42] #38 closed

[2018-01-29 19:33] jonest opened #53 "Dropdown/Select component arrow toggle"
Looking at the style guide v1.3 page 42, the dropbown/select component should have the arrow toggle depending on the open or closed state of the menu:

![image](https://user-images.githubusercontent.com/3075414/35530212-a31ecbde-04f0-11e8-8c01-18dd63cbac88.png)

[2018-01-29 19:34] jonest commented on #53
I don't have permissions to assign this to myself, but I've got a fix for this

[2018-01-29 21:56] jonest opened #55 "IE 11 Dropdown/Select has double arrows"
It appears IE has some default arrows for the select element that need to be disabled:
![image](https://user-images.githubusercontent.com/3075414/35536599-98e21964-0504-11e8-9ba0-7270b68378fb.png)

[2018-01-29 22:33] jtrujill commented on #37
Could we modify the vertical tabs to take an argument specifying whether it's vertical or horizontal?

[2018-01-29 22:37] jtrujill commented on #42
PR #49 is now merged

[2018-01-29 22:37] #42 closed

[2018-01-29 23:59] corytak commented on #37
@jtrujill that's a good question. The general gist of putting the tab's content between the tags and paging between them should be the same. It's just the styling that would change. Based on these two examples it looks like horizontal tabs can have varying background colors. Further, the style guide has a scenario where there's a dark theme and the text needs to be white. The vertical tabs don't s

[2018-01-30 00:06] andrew-frueh commented on #37
I'm probably 50/50 on this one - in my brain I see them as two different things, probably because they look so different.  Especially if we get into responsive stuff down the line, it seems like responsive behavior of the horizontal tabs would be pretty different than vertical.  So I think my preference would be to keep them separate, but it's a huge deal for me if others feel strongly about combi

[2018-01-30 01:09] corykon commented on #50
I def may have been part of the problem... I use VSCode, which is set to detect and match indentation, but it's default is 4 spaces.

Curious to know how we landed on 2 as the standard. Was there a strong reason for 2, or a democratic vote that I missed? Happy to change, but 4 is my pref, so I have to ask ;)

[2018-01-30 01:11] corykon opened #57 "Create Catalyst Icon Font"
_...recreating this issue. We've got a nifty icon component now , but still have a desire to roll our own icon font at some point..._

Develop an HC-Icons font to remove our dependency on FontAwesome, GlyphIcons, or any other 3rd party glyph set. This document represents the current best understanding of what icons should be included in this font:

https://spark.healthcatalyst.com/docs/DOC-3157

P

[2018-01-30 01:12] corykon commented on #41
Renamed, as it looks like this issue was repurposed for an icon component

[2018-01-30 01:13] corykon opened #58 "Custom Catalyst Icon Font"
_...recreating this issue. We've got a nifty icon component now , but still have a desire to roll our own icon font at some point..._

Develop an HC-Icons font to remove our dependency on FontAwesome, GlyphIcons, or any other 3rd party glyph set. This document represents the current best understanding of what icons should be included in this font:

https://spark.healthcatalyst.com/docs/DOC-3157

P

[2018-01-30 03:19] corytak commented on #37
@jtrujill @andrew-frueh I made [some progress](https://github.com/corytak/Fabric.Cashmere/tree/horizontal-tabs) on combining them together. I generalized the name of the components to be `hc-tab-set` and the `hc-tab`. You can specify the direction on the `hc-tab-set` component.

This is what it could look like together, but it wouldn't be that big of a deal to create a separate horizontal tabs com

[2018-01-30 04:54] andrew-frueh opened #60 "Button Dropdowns"
Split Button Dropdowns have a primary action, and then a series of secondary options that can be surfaced by clicking the split arrow.  Below is an example from @corykon in Population Builder.

This button component should closely mirror the main button component, and perhaps we should remove the dropdown option from the main button component?  Then we could call this a "button-dropdown" or "butto

[2018-01-30 05:04] andrew-frueh opened #61 "Picklist"
Much credit to @corykon and the Population Builder team for developing a pattern that has been followed by a number of apps.  The picklist is called upon when a user needs to select a number of items from a potentially length list of options.  Although the picklist component would most commonly be used within a #40 modal dialog, it can stand alone as well.  Cory, I know I've already dropped the ma

[2018-01-30 05:33] jtrujill commented on #50
A while ago when I added the formatting stuff I started a discussion to get some conversation going on code formatting. I believe maybe 1 or 2 people responded and they also seemed fine with the 2 spaces

[2018-01-30 15:23] benjanderson commented on #60
This should be able to use the upcoming popover component #39

[2018-01-30 16:05] andrew-frueh opened #63 "Filter Drawer"
@jtrujill got us started on this by creating a drawer component #42.  I'm wondering if we can create an additional component that leverages Jeremy's drawer specifically for filtering.  The reason I think a filter drawer component is worth including is because of how common this use pattern appears in our apps.

In my mind, the way this would work would be something like:
`<hc-filter-drawer visible

[2018-01-30 16:13] jtrujill commented on #63
I think we should try to keep this library more general, as a tool for a developer. What I was going to do was create a list component that can be used to generate a list in the filter as you see in the image above.

If we make the library too specific it'll restrict its use and make it more difficult to use. What we can do in the design of our components is style other library components within o

[2018-01-30 16:15] andrew-frueh commented on #37
Well @corytak - you've made a believer of me.  I think what you've got here looks great.  Thumbs up from me for combining horizontal and vertical tabs into one component.

[2018-01-30 16:31] andrew-frueh commented on #63
You make a fair point @jtrujill - and I completely hear you about general components.  Which is why I think making a drawer component first as you did was the right thing to do.  And having those general components as tools for developers as you said makes perfect sense.  So I'm not advocating that we overwrite the general component with a filters only component.  I'm suggesting we have both.

And

[2018-01-30 16:49] waldnercharles commented on #50
I wasn't entirely sure how to create a poll on github, so here's a straw poll for indent preference.

http://www.strawpoll.me/14964094

[2018-01-30 17:27] corykon commented on #60
I think there may still a place for the dropdown option in the normal button. Sometimes everything just belongs in menu. But sometimes, like in the example above, it's helpful to have the primary action (save) available at the surface level, so it's just one click away, while keeping other related actions buried in a menu.

[2018-01-30 18:07] jtrujill commented on #60
This is copied and pasted from a code review that I gave Andrew

For the dropdown what I would do is incorporate styling for the popover component. I don't know how the popover component is being written but it could be written so that it has a directive which can be attached to another component or element. When that element is clicked it triggers the popover.

[code]
Then in the button you could

[2018-01-30 21:39] #37 closed

[2018-01-30 22:22] corytak opened #66 "Travis CI Should check that the library compiles successfully"
Additionally we may want to consider automating the deployment (with pre-release tags) to npm

[2018-01-30 22:28] andrew-frueh commented on #60
I'm with you @corykon - and I agree that we wouldn't want to get rid of a straight button dropdown.  I was just trying to decide if that belongs in the hc-button component.  I'm wondering if it might not to be better to do what @jtrujill is suggesting and have a separate **hc-button-drop** or **hc-button_select** component.

I think Jeremy's suggested code looks good for that - and we could potent

[2018-01-30 23:26] andrew-frueh commented on #45
@benjanderson - I might be remembering wrong, but did you end up writing something like this for your popover component?  And if not, I'm guessing something like what @jtrujill is suggesting here would well for the list of actions that are often displayed in our popovers.

[2018-01-30 23:38] #66 closed

[2018-01-31 02:57] jtrujill commented on #63
@andrew-frueh I'll get my list component done soon and then I'll get in contact with you to go over the details

[2018-01-31 04:37] #39 closed

[2018-01-31 04:38] jtrujill commented on #63
PR #69 implements the list component. I'm going to update the drawer component so that it styles the list like the image above

[2018-01-31 06:08] jtrujill commented on #60
I'm going to be creating a dropdown button component which implements the above

[2018-01-31 18:33] jtrujill opened #72 "Formal Design Review"
I would like to get some kind of a formal design review process that would help to get more people involved during the design phase. It would be great if we could have more people participate in the design so that knowledge and consistency could be transferred. It would also to help flesh the component out a bit more than having one person design it and submitting a pull request.

On the ACO Finan

[2018-01-31 18:37] jtrujill commented on #30
I agree with that. I'm probably a perpetuator of this issue since I basically took a demo components html and copied and pasted and made the necessary changes to that file. Maybe we should come up with a demo scss that we can import into our demo components

[2018-01-31 18:39] jtrujill commented on #20
I like this idea. We should move all the demo components out of the lib directory and into the demo directory. It makes no sense to have those components in the lib only to have them imported into the demo.module. I can get a PR out for moving those elements

[2018-01-31 18:41] jtrujill commented on #35
@nickrflynn did you want to close this or did you want to keep this open to get the rest of the component implemented?

[2018-01-31 18:43] andrew-frueh commented on #72
I think this is an excellent idea, especially as this library matures and becomes our standard.  A couple questions about how you're doing this on the Finance team:

- Do you have a template for what a design document should look like or include?
- Would you imagine that an issue would be created first identifying a need for a particular component?  And then the design document, and follow up disc

[2018-01-31 18:45] andrew-frueh commented on #35
I'm gonna close this @jtrujill and @nickrflynn - feel free to add an additional issue for adding the form elements to this component though so it doesn't get forgotten.

[2018-01-31 18:45] #35 closed

[2018-01-31 18:55] corykon commented on #30
I'll go do some cleanup

[2018-01-31 18:57] jtrujill opened #74 "ViewEnapsulation"
The below is from a PR #71

We should not have viewEncapsulation enabled on our components for the reason ^. If we take the button example above which has a color property that sets the color of the component and I believe this is a good use case for !important to prevent other css from changing that. There will be times when our components styles will need to be changed. How often have you as a d

[2018-01-31 19:36] jtrujill commented on #72
I don't have a design doc template, but that would be nice if someone could create a markdown design template.

I would imagine that an issue would first be created and then as a team we could discuss if that component is needed or not. We could have just a general discussion to determine what we need from it.

Then I believe it would be best if someone volunteered to write the design doc, and aft

[2018-01-31 19:50] corytak commented on #20
@jtrujill I believe @joeskeen has already started on this so you may want to double check with him to see how far he is in the process.

[2018-01-31 19:58] corytak commented on #72
I like this idea a lot but also want to make sure that we consider how to balance this need for process with making contributing to the library very accessible to newcomers. My worry is that the more processes and red tape that are in place, the less likely it is that someone will contribute. Perhaps we could counteract this by fostering a culture that errs on the side of being helpful if someone

[2018-01-31 20:23] #55 closed

[2018-01-31 20:31] corytak commented on #74
I'm torn on this one. While Cashmere is technically an open source angular component library, it is also our company's living style guide. Its use will be mostly internal to Health Catalyst so it seems less likely that there should be a need to override the styles. All of the buttons in our apps should be the same size and the same colors. If any apps are using Bootstrap/Foundation/Material, those

[2018-01-31 20:58] corytak opened #76 "Enhance tabs to allow deep links/set active tab"
User feedback with the tabs module: tried to see if they could get it to work in their app, but need the ability to set the active tab based on the route. Unsure of best implementation/route, but wanted to log the issue as an enhancement.

[2018-01-31 20:59] jtrujill commented on #74
I get what you're saying there could be issues if for example someone has unscoped css, and what I mean by this is they don't have the styles wrapped in a class. For example I've seen this kind of scss

[code]

There are multiple things wrong with the above first it makes that td element so specific that it's ridiculous to try and override the styling. The other issue, which is only an issue if yo

[2018-01-31 21:02] benjanderson commented on #76
To put in my two cents, the navbar just uses the built in [RouterLink](https://angular.io/api/router/RouterLinkActive), I thought that was a pretty good option

[2018-01-31 21:03] #50 closed

[2018-01-31 21:08] jtrujill commented on #74
**View Encapsulation Enabled**

I actually think it's more likely to cause team-members to stray from using the library if they can't style the component how they need, which is a larger issue

^^

I believe this is related very much to the con you have listed below

If we try to make this an all-purpose library, it is likely to get bloated in both styling and function and will be incredibly diffi

[2018-01-31 21:16] joeskeen commented on #20
I'm almost done with this, I'm just having issues with running the tests once the library components are removed from the CLI project (the demo site).  If anyone has some time to poke around with this, I'd appreciate the help: https://github.com/joeskeen/Fabric.Cashmere
(I know this branch is a bit out of date as this project has been really active lately; I will resolve the merge conflicts when I

[2018-01-31 21:24] jtrujill commented on #20
@joeskeen Yeah I'll totally take a look. I need to get some actual work done today but I'll definitely see if I can help you get that resolved

[2018-01-31 22:10] joeskeen opened #77 "Split Readme / Contribution Guide"
When a user finds @healthcatalyst/cashmere on npmjs.com, they are presented with the Readme for the library:

![image](https://user-images.githubusercontent.com/12286274/35650262-b763eaa8-0698-11e8-8acf-48368987966f.png)

This doesn't tell them how to install the package, dependencies, browser support, or much of anything else about it.  As NPM users are mostly interested in consuming than contrib

[2018-01-31 22:13] joeskeen commented on #77
Some ideas for the Readme page:

* status badges powered by shields.io
* installation instructions
* browser support
* dependencies (or just generally that it is UI-framework-agnostic)
* license
* troubleshooting
* link to contribution guide

[2018-01-31 22:32] corytak commented on #74
Good points. Maybe it doesn't have to be an all or nothing thing and we can decide on a component by component basis? I agree completely about namespacing our css to avoid conflicts (I believe there are even some scenarios with view encapsulation enabled where conflicts can occur) and you've changed me from a staunch believer in "view encapsulation enabled only" to someone who thinks it makes sens

[2018-01-31 22:51] andrew-frueh opened #78 "Breadcrumbs"
Breadcrumbs are a graphical control element used as a navigational aid within our app subheader #43.  It allows users to keep track of their location within the current application.  Our breadcrumbs thus far always appear on the left side of the subheader.  See below for overall styling:

![breadcrumbexample](https://user-images.githubusercontent.com/22795893/35651882-8428e674-069e-11e8-8d5e-9c6d3

[2018-01-31 22:56] andrew-frueh opened #79 "Table"
Translate @corykon's incredible work on [table styling](https://github.com/HealthCatalyst/Fabric.Cashmere/pull/73) into a full Cashmere component.

- [x] Sorting (client side)
- [x] Paging (Client side) (toggle between more results button & numbered pagination)
- [ ] Toggle to choose page size
- [ ] Bake in checkboxes (input row type extend some `IsCheckable` class that has an `isChecked` property

[2018-02-01 00:21] jtrujill commented on #79
I'm going to make the suggestion that we use https://material.angular.io/cdk/table/overview. We could write a wrapper components around these and provide our own stylings that @corykon had written. The CDK is a component developer kit written by Google which provides many useful features that we could make use of such as portals and layout.

[2018-02-01 03:25] jtrujill commented on #20
@joeskeen is it the update-angular-cli branch that you need me to look at?

[2018-02-01 13:19] waldnercharles commented on #74
Are there any popular libraries which allow users to customize the style of their components? If so, how are they handling it?

Having inputs for each css property we want users to customize seems like it would quickly become cumbersome. Alternative themes seems like a good idea, but doesn't necessarily solve the issue.

Though, If we want to allow custom-styling for our components, setting view-e

[2018-02-01 17:24] joeskeen opened #81 "Remove Tri-Flame icon etc."
One of the main things about having an open-source project sponsored by HealthCatalyst is keeping what should be open open, and our 'secret-sauce' out of it.  Inclusion of anything proprietary makes it seem that it is freely usable by anyone worldwide for any reason under the Apache 2.0 license.

This being said, we should remove the tri-flame HealthCatalyst logo (perhaps replacing it with a cashm

[2018-02-01 17:48] nickrflynn opened #82 "Radio button Angular forms support"
The radio buttons component needs some work to support Angular forms.  (See @jtrujill's [addition to the checkbox component](https://github.com/HealthCatalyst/Fabric.Cashmere/pull/48))

[2018-02-01 17:49] corytak opened #83 "Release pipeline and Semantic Versioning"
After our open space session, I wanted to post here and start a discussion around the process of publishing to npm with a prerelease tag. Main questions include:

- Should the CI pipeline automate the version and publish when committed to master
- Should we submit pull requests to a dev branch and update the version when we migrate the dev branch to master?
- Should the user submitting a pull requ

[2018-02-01 17:54] benjanderson commented on #19
This was fixed by adding polyfills, although they were not added through the rollup build. As these are well established polyfills, I feel we can have the standard of "we support all modern browsers" and each of the consumers of the library can add those polyfills.

We can either document what polyfills to include or as it is such a common thing we could leave it up to the consumer and close this

[2018-02-01 17:55] corytak commented on #79
Wanted to throw in some lessons learned from our homegrown table component. We built a table component that was all in one large component rather than a suite of components/directives. This became unwieldy because the table component required inputs of

- rows that were typed as `TableRow`
- headers that were typed as `TableHeader`

This forces the consumer of the table to map arrays of other obje

[2018-02-01 17:57] petermcclanahan commented on #79
Here are some thoughts about grids in Atlas and our use of material

1. We wanted to create separate components for pagination, page size, sorting, and filtering. MetadataService has an odata back-end and we want to pass values from those components into the MDS calls. That said, using material didn't give us the pagination, or sorting, any of those things as we thought it might have originally.

[2018-02-01 17:57] joeskeen commented on #19
Agreed, we should add that to the Readme then close this issue.

[2018-02-01 18:35] jacquie opened #84 "css class naming"
Wondering if we need to think about a standard naming system for our css, and if we do, my first idea is to use BEM:[http://getbem.com/naming/](url)  Anyone else have thoughts on this topic?

[2018-02-01 18:48] jacquie commented on #79
I thought we'd agreed that using third party libraries was generally not a good idea? Tables are used in so many ways and degrees of sophistication that it seems to me it would be impossible to create something everyone will be happy with - an all singing, all dancing component would be overkill for something that really just needs a straight up table and, as we've seen, never quite meets all the

[2018-02-01 18:51] jtrujill commented on #79
The difference between those libraries and the cdk is that those libraries introduce global variables which always interfere with each other. I also think this would go far to cover a lot of base cases. Again we shouldn't aim to please all cases

[2018-02-01 18:54] andrew-frueh commented on #81
@imranq2 - I'd be curious to hear your thoughts on this regarding how your approaching Catalyst branding in other Fabric GitHub libraries.  I think Joe makes a good point, and the only place where we're including the tri-flame is in the navBar.  So we could certainly do as Joe suggested and make the navBar logo generic in the component, but rely on any Catalyst developers to swap in the tri-flame

[2018-02-01 18:54] jtrujill commented on #83
My thought process is that we should setup some kind of staging branch(dev) that we merge into. When it's time to cut a release we could have someone in charge of updating the app version and merge that into master.

Then we could have a Travis task which watches for changes to master only and will deploy on success of the other tasks

[2018-02-01 19:38] jtrujill commented on #81
This would be easy to modify. We could create a directive which is only used for content projection called hc-navbar-icon then in the nabar we could have a ng-content which selects hc-navbar-icon and places it in the left corner. This would allow the user to use any icon. I'd have to look at the implementation of navbar but that's how I'd do it

[2018-02-01 19:54] andrew-frueh commented on #14
@corykon @corykon @benjanderson - @jtrujill asked me if we have a standard around our input field styling, and I was going to say yes, but then I did a quick survey of our apps and I realized that they're actually all slightly different (see attached image).  So as an aside this is a good example of why we need Cashmere.  But regardless, the only thing consistent between them seems to be 14px text

[2018-02-01 20:15] jacquie commented on #79
Well I would feel bad for the cases we can't please :( I am confident that between us we could come up with  something innovative and modular that caters for most things and leaves the door open for expansion/enhancement as and when needed.

[2018-02-01 20:27] andrew-frueh commented on #79
As was brought up in our meeting today, it would be great if Cashmere can make the spin-up time for new apps much smaller.  And given that tables are something every app uses, if a new dev team was able to just grab a table component off the shelf, pump some data in, and be ready to go - that would be ideal.  But I like the way @jacquie said it, we'd just need to make sure that component "leaves t

[2018-02-01 20:48] benjanderson commented on #14
I have no strong opinion, this is the first time I have realized Atlas doesn't follow the stype guide. I am ok with what the style guide defines

[2018-02-02 18:51] jtrujill commented on #43
There are several ways to do this. At a previous job I had created a .less file which provided a grid system similar to what bootstrap provides except that it was based on flexBox. LeadingWisely uses something similar where you can add padding, margin, flex-row...etc. I really like this system and it's something that I think would be great to provide to users of this library.

To answer your quest

[2018-02-03 02:29] andrew-frueh opened #90 "hc-navbar-link remains in active hover state after click"
The dark blue background remains behind a navbar-link after a click, but will fade after a click anywhere else on the page.  @benjanderson - you might know easily how to fix this, but anyone else feel free to jump in instead.

[2018-02-03 15:41] jtrujill commented on #84
I actually like this idea. This is something that i've started to pick up in this project. For example, in the list component the outside element has a class of hc-list and there are 4 subcomponents and directives that belong to the list component.

hc-list-item, hcListAvatar, hcListIcon, hcListIcon all of which have the following classes: hc-list-item, hc-list-avatar, hc-list-icon, hc-list-icon.

[2018-02-03 16:51] jacquie commented on #84
I agree that the double hyphens are ugly and a pain to type, but the reasoning is that you would use a single hyphen to replace spaces in multi-word names (kebab-case) eg we have a class 'green-arrow-up'.

How about if we use a single _ to add a modifier instead of --? Eg 'block__elem_multi-word-mod' .
For me (being a bear of very little brain) that also seems more straightforward than having to r

[2018-02-03 21:00] #45 closed

[2018-02-05 05:57] #17 closed

[2018-02-05 15:22] andrew-frueh opened #94 "Responsive Navbar"
Enhance the existing hc-navbar component to be fully responsive, including phone and tablet resolutions.  Should follow the pattern currently defined in the styleguide:

<img width="274" alt="responsivenavbar" src="https://user-images.githubusercontent.com/22795893/35812227-a72c8bbe-0a4d-11e8-8a33-a676cef8d08a.png">

[2018-02-05 15:28] andrew-frueh commented on #94
Question for the group as I look at the style guide's layout again.  In the mockup, "View All Applications" is at the bottom of the hamburger menu, which implies that there is only one dropdown menu in the mobile version - and the triflame would be inactive.  Given that the user would likely already expect the triflame to be the app switcher, would it make more sense to have two possible menus in

[2018-02-05 18:00] joeskeen commented on #20
Fixed by #88.

[2018-02-05 18:00] #20 closed

[2018-02-05 18:18] benjanderson commented on #94
As a user I think one menu would be the way to go.  If we are going to make our applications more mobile friendly I would think any navigation that is frequently accessed to be on the bottom as a static navbar.  This is the paradigm of most of the apps I use on my phone

![image](https://user-images.githubusercontent.com/1934453/35821327-e6681024-0a65-11e8-809a-5bd96870af0b.png)

[2018-02-05 18:38] benjanderson commented on #72
@jtrujill I am new to having those design docs as a part of the process. Could you provide an example so I have a better idea how it all works?

[2018-02-05 18:40] benjanderson commented on #30
great job @corykon #86

[2018-02-05 18:40] #30 closed

[2018-02-05 18:46] ckeates commented on #84
Great discussion to get started, Jacquie.

I still feel fairly outclassed (🙄) about all of the different styling methodologies...but I did find this article:
https://medium.com/actualize-network/modern-css-explained-for-dinosaurs-5226febe3525

And eventually led me to this blog post about "rethinking BEM with Angular":
http://www.thatguyjackguy.com/tech/web-component-styling/

Obviously anecdotal,

[2018-02-05 19:01] jacquie opened #96 "Progress Indicators"
What kinds do we need and what should they look like?

[2018-02-05 19:10] andrew-frueh commented on #96
Great suggestion @jacquie - I wonder if we could get this issue started by having folks post screenshots for the process indicators they are currently using.  We put a suggestion in the style guide, but we never really proved it out, so I know there are a number of approaches floating around out there.

[2018-02-05 19:17] jacquie commented on #96
On Leadingwisely  we've been using the material one, but it doesn't always cycle very neatly. and where we have a million charts, cards loading at once they look somewhat large and cumbersome.  We added an Observable based service to it signal when it should hide or show - I don't know if we could/should incorporate that into a shared component or if it should be left to the user to decide how to

[2018-02-05 19:33] corytak commented on #76
@andrew-frueh, @corykon I followed @benjanderson 's suggestion and incorporated the router link. I swapped out our sidenav for the tabs and while it works, I feel like some of the styles in the demo components became less appealing.

![image](https://user-images.githubusercontent.com/9749465/35824614-9dccdc4a-0a70-11e8-8421-1109da02d4a1.png)

![image](https://user-images.githubusercontent.com/9749

[2018-02-05 19:53] corykon commented on #76
I agree it could use some love in one way or another, but I'll defer to @andrew-frueh on the styling. On a separate note - it would be nice to keep the division of "styles" and "components".

[2018-02-05 20:03] andrew-frueh commented on #76
@corykon - I was thinking we could potentially do two separate navbar items for "Styles" and "Components" then they would have two separate sets of tabs, which could help because our list is starting to get pretty long (and still growing).  Any concerns with that approach?

[2018-02-05 20:42] jtrujill commented on #96
On cafe we had our own infinite spinner
<img width="220" alt="screen shot 2018-02-05 at 1 41 29 pm" src="https://user-images.githubusercontent.com/5596515/35827727-5db6c85a-0a7a-11e8-9fcf-b53f7da6c91a.png">

If this is alright I can modify it and get it uploaded

[2018-02-05 22:03] jtrujill opened #97 "Standard Template for Documentation"
I would like to change the way that we do documentation so that we're using markdown instead of straight html. With css and html, there is too much freedom in the way to style the documentation, which makes writing it and maintaining it difficult.  Markdown is simpler to write and would allow us to have more uniform docs.

The other issue is that for a user to read about how to use our library the

[2018-02-05 22:16] benjanderson commented on #97
I love this idea, doing it with a custom webpack build would be straight forward but I dont know how to do it with the angular cli as it abstracts the webpack build from us

[2018-02-05 22:25] jtrujill commented on #97
This is a whole other issue but maybe this is an argument for moving towards a gulp build? It's a pain to setup initially but it does offer more than the cli.

To go along with this, I'd also like to restructure the project so that the /docs contains our markdown and the lib and demo can be found under /src/lib and /src/demo. It's very standard to put your code under the src directory, besides tha

[2018-02-05 22:55] jtrujill commented on #97
After thinking about this a little more. Do we really need webpack? All we need to do is run a node program to transform the markdown to html and put that html in the dist folder. Then we could reference the doc.index and we should be good

[2018-02-05 22:56] corytak commented on #76
@andrew-frueh in addition to adding a separate tab for styles, what are your thoughts about tab-content styling. Should we be prescriptive about the gray background color or are there potentially other styles that could accompany vertical tabs?

[2018-02-05 23:04] jtrujill commented on #61
This is similar to a the list component that I've created. I'm going to be expanding it's capabilities further so that it can have a header and divider between items.

I'm thinking for this component that it'd be best to provide developers with the tools to accomplish 80% of this and have them implement the rest. There are just so many ways that this could be different between applications, that i

[2018-02-05 23:14] #60 closed

[2018-02-05 23:17] andrew-frueh commented on #97
Brilliant.  I think this makes perfect sense, and it will help to standardize the style of our documentation - which only makes it more readable.  Let me know what I can do to help.

[2018-02-05 23:23] jtrujill opened #98 "public_api"
Shouldn't the public_api folder export the index file of each component and not just the module?

[code]

[2018-02-05 23:42] jtrujill opened #99 "Accordion component"
While on Cafe I designed an accordion component

<img width="1290" alt="screen shot 2018-02-05 at 4 07 48 pm" src="https://user-images.githubusercontent.com/5596515/35834259-23b1d07e-0a92-11e8-9e35-ba35985cc2db.png">

I just need to do some cleanup work and it should be good to go. Below is some example html for how to use it.

[code]

One thing that I'm thinking about improving upon is that if a

[2018-02-06 00:03] corytak commented on #98
@jtrujill I had the same question but @joeskeen assured me that ng-packagr when running `ngc` exports all of the declarations in a module. I tried importing the tarball this morning based on his changes and it was able to successfully identify the components despite not being exported.

[2018-02-06 00:12] joeskeen commented on #98
If you run `node lib/build.js` from the root of the project, you will see in `lib/dist/cashmere.d.ts` that all exported components are exports of the package.  A reason I went with this route was to prevent things from accidentally being referenced by the index (demo components, etc.), and I also had some issues with the TS barrel files (the index.d.ts files that just exported everything).  If you

[2018-02-06 00:17] jtrujill commented on #98
Maybe I shouldn't have marked it as a bug but a question instead. What issues we're you running into with the barrel files? I prefer to be explicit with the exports.

[2018-02-06 02:37] andrew-frueh commented on #94
Got another design for the group on this one.  How should we determine at what width we hide the navbar links/icons and switch to a right side hamburger menu?  It kind of depends on how many items are in the navbar, no?  Should that be a property added to the navbar that the dev can set to say what width to go mobile?  Maybe there should also be an intermediate step for tablet resolution before we

[2018-02-06 15:35] corykon commented on #61
Sounds good, Jeremy. For reference, here's where you can play with what we've got in builder:
- [https://hcs-clinicalppr.hqcatalyst.local/test/ruleset/new](https://hcs-clinicalppr.hqcatalyst.local/test/ruleset/new)
- New Ruleset > Drag out a Diagnosis Fitler > open "Diagnosis Codes" from drawer

Would be good to make note of the functionality that is there- not that you'd implement it all, but wou

[2018-02-06 15:53] corykon commented on #84
Good articles 👍 Based on what I read there, and my own experience in angular apps, it seems like when things are properly componentized and encapsulated, you actually don't need to use as many css classes as youwould otherwise, so all the dashes and underscores feel like they might be overkill.

On the other hand, I've heard from a lot of people who champion the BEM methodology, so I may just need

[2018-02-06 16:37] benjanderson commented on #97
I like were you are going with this @jtrujill but I have a few implementation questions

1. Are we going to check-in the generated html files? If not, how is a new contributor going to be able to read documentation. If so, how do we keep the html and md in sink?

1. How are we going to keep our demos live implementations of the components when they are based off markdown? How do you reference the

[2018-02-06 16:38] andrew-frueh commented on #61
One bit of commentary, @jtrujill - I agree that this type of picker _could_ be very custom from app to app, but we do in fact have three or four Catalyst apps that use it exactly as @corykon has it built out in PopBuilder.  I'm all for customization, but my request would be that the PopBuilder style be the default so the multiple apps using the same functionality can plug and play.

[2018-02-06 16:47] benjanderson opened #101 "Enhance install instructions to include dependencies"
We are missing some instructions on setting up some of the needed dependencies.

1. The popover and app switcher component depend on [popper js](https://popper.js.org/) and it has been added as a peer dependency, but we need to state both in the root readme.md and the popover/navbar demo that popper needs to be included in order for those components to function properly

1. According to the [style

[2018-02-06 16:51] jtrujill commented on #97
I wouldn't check the generated html files in. Github renders markdown files for you, so the user would be able to go through the /docs directory and view them through github. We would want to generate the html so that we could link the documentation to our demo app. The html would just be a part of the artifact that is generated for the demo app.

In our app we would just have an anchor which refe

[2018-02-06 16:54] jtrujill commented on #97
Another thing, I imagine that other IDEs have markdown rendering plugins, but I'm able to view the rendered content through my IDE. These plugins are great for knowing what the final look is but for also viewing the documentation, without all that markdown noise

[2018-02-06 17:08] jtrujill commented on #61
Maybe in addition to the selection list I can look at making a component which allows you to transfer objects from one list to the other. I don't think that would be too difficult and would reduce the amount of work required of a user to implement the design.

[2018-02-06 17:08] jtrujill commented on #61
Maybe not a component but a directive

[2018-02-06 20:45] #76 closed

[2018-02-06 20:58] benjanderson opened #103 "Angular pipes section"
I needed a ellipsis pipe while creating the navbar, so I created [this](https://github.com/HealthCatalyst/Fabric.Cashmere/tree/master/lib/src/pipes). It is a part of the library but is largely unknown because it is not documented. I suggest creating a new section for pipes.

As it stands we have **Styles** and **Components** sections, I would suggest a third **Pipes**

[2018-02-06 21:19] andrew-frueh commented on #103
I started this conversation on the Slack channel so I'll echo my comments here.  First of all, thanks for making that component @benjanderson, I think it's really useful.  And second, I think if we don't include stuff like this in the documentation, no one will know to take advantage of it (I just randomly came across it in the library).  So I strongly support adding a third section for stuff like

[2018-02-06 21:38] corykon commented on #103
Third section sounds cool to me. I'd call it maybe something a bit more generic, like "utilities", so it can include more than just pipes... like @jtrujill's anyToBoolean function that is already in a utils file somewhere. Bet's there's lots of other nifty reusable logic that'll come up..

[2018-02-07 00:22] corytak commented on #40
Currently, the Measures Manager team uses ngx-bootstrap's modal component for our modals.  In order to replace this functionality, we would need the ability to

- Open a modal
- Return a value on close

Other considerations from the style guide are about how we shouldn't allow modals to stack. Would an interface like this be too simplistic?
[code]
This would force the user to style the modal prope

[2018-02-07 15:50] jtrujill commented on #40
I didn't really like the way that ngx-bootstrap was implemented and found that it had a lot of issues with complex layouts. I actually prefered @ng-bootstrap, which handles modals correctly by projecting it's content to as a direct child of the <body>, this avoids issues with overflow:none, and stacking issues. I also really liked the idea of putting your modal content in a component and passing t

[2018-02-07 20:53] cedar-ave opened #105 "Move the link to HealthCatalyst.com in the Help dropdown to inside the About modal"
Between legal, privacy, copyright, terms of use, and the HC site links, some prototypes have up to eight items in the Help dropdown. (Among those links mentioned, at this time the Cashmere site only reflects the HealthCatalyst link in the dropdown.)

Many of these links could be presented as links on the About modal to make it easier for the user to locate what might be considered the most critica

[2018-02-07 21:00] benjanderson commented on #105
the help dropdown is just an example and is customizable for each application that uses it. In fact, many apps wont even have that help drop down

![image](https://user-images.githubusercontent.com/1934453/35941213-c4f75f9e-0c0e-11e8-9ef7-a6505499a247.png)

This is a great improvement to the template as many will just use it as their starter. So I would like to keep this issue until we can make th

[2018-02-07 21:04] andrew-frueh commented on #105
@cedar-ave - I don't think they're on GitHub, otherwise I would tag them, but before we make any decisions on this we'll want to bring the Knowledge Development team into the conversation - specifically Amanda and Heather.  The help menu is kind of their domain, and I just met with them yesterday about the steps they're taking to standardize our help menus across apps.  They are planning on using

[2018-02-07 21:12] cedar-ave commented on #105
I will reach out to them and request that if it is not already in their plans, that they broaden their decision-making process to include all stakeholders. Standardization of a major element across all apps should be a collaborative effort.

[2018-02-07 21:23] andrew-frueh commented on #105
Sounds good, I'm sure they'd welcome the additional input.  They just started thinking the standardization bit of it through yesterday, so no decisions have been made or anything like that.  So it would be perfect timing to open it up to a wider group (and legal too for their input on EULAs, etc)

[2018-02-08 01:58] andrew-frueh opened #107 "About Dialog - Guide"
The discussion #105 Marla started today made me realize that we should really make the About box triggered from the Help menu a standard component.  It would probably build off the #40 modal dialog component.  But this is something every app is going to need, and for support purposes it's important that the all look the same and contain the same information in the same places.

We developed a pret

[2018-02-08 01:59] andrew-frueh commented on #105
Thanks for bringing this up @cedar-ave - helped me realize that we definitely should make an About Dialog component in Cashmere so we can standardize what and how the information in there is presented.  Created #107 and have added it to the project plan.

[2018-02-08 16:32] #94 closed

[2018-02-08 17:05] benjanderson commented on #94
@andrew-frueh the ones you use are pretty close the boostrap standard
xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px

I am thinking that my next task will be some css cleanup where we can standardize these and have helper mixins

[2018-02-09 00:32] andrew-frueh commented on #78
I got a start on the styling at least of this one when I was putting #108 together.  So I'll sign up to take a first stab at this component.  I might schedule a quick phone call next week for all interested to talk through the inputs, parameters, etc for this.  I could write it pretty easily to accept an array of what should go in the breadcrumb list - but I'd be curious if there is a more elegant

[2018-02-09 15:40] andrew-frueh commented on #78
Hi all, I've given some thought on how to approach the breadcrumb component, and I wanted to see what you all thought.  This is how I'm thinking the markup would look:

`<hc-breadcrumbs>
    <a href="">Home</a>
    <a href="">Second Page</a>
    <a href="">Third Page</a>
    <span>Current Page</span>
</hc-breadcrumbs>`

I'll use the css `:after` tag to insert the arrows in between the anchors.  Fo

[2018-02-09 15:54] jtrujill commented on #78
Breadcrumb should be even easier than that dom-wise. You'd need to write a component that uses the activatedRoute and router to recursively visit the root component to the current component. So really the only thing that should be required of a user of breadcrumbs is deciding where to place it.
`<hc-breadcrumbs></hc-breadcrumbs>`

We have two options for setting the label for the routes. We can us

[2018-02-09 16:08] andrew-frueh commented on #78
Thanks @jtrujill, that's helpful direction - I was hoping there might be something like that.  Found a [demo](http://brianflove.com/2016/10/23/angular2-breadcrumb-using-router/) that looks to be very similar to what you're suggesting.  I'll give this approach a go.

[2018-02-09 16:09] andrew-frueh commented on #78
Oh, and I like the idea of using custom data on the route configuration - that's how that demo project I linked to is doing it as well.

[2018-02-09 16:43] petermcclanahan commented on #78
I agree with @jtrujill -- that's similar to how we did it in Atlas. We used a resolver to add custom data dynamically to the routes.

[2018-02-09 17:21] andrew-frueh opened #109 "ADA Compliance on Anchor Links"
@corykon and I were discussing this morning, and realized that our $primary-brand blue color for our anchor links is problematic from an accessibility standpoint.  ADA requires a contrast ratio of at least 4.5:1 for normal text.  Even on a white background we're failing that pretty badly:

<img width="737" alt="primarybrandblue" src="https://user-images.githubusercontent.com/22795893/36040357-6fee

[2018-02-09 22:54] #43 closed

[2018-02-09 23:42] andrew-frueh commented on #96
I'm realizing the solution @jacquie's suggestion for progress indicators is probably multifaceted.  As we've all discovered there usually isn't a one size fits all progress indicator because there are many different situations where they are needed - at a full page level, at an individual element level, and initial app loading too.

At least for initial app loading, what @corykon came up with on P

[2018-02-09 23:58] jacquie commented on #96
Ours has the triflame and the leadingWisely flexo svg in it - not sure if we want that though if there is going to be app switching?

[2018-02-10 00:03] andrew-frueh commented on #96
I thought I remembered that @jacquie.  As per usual, I suspect each app is doing this loader slightly differently, so that's a great reason to pull it into the library so we have one version we all agree on.  If you or @ckeates want to put your version into the library to get us started, we can tweak the styling together from there.

[2018-02-11 00:22] andrew-frueh opened #112 "Provide Feedback Component"
@corytak already has this underway on Measures Manager, but I wanted to make sure it was included in the project plan.  Catalyst is standardizing the way that it collects in-app feedback from users (leveraging a TypeForm survey).  The survey is triggered from a "Provide Feedback" option in the Help Menu popover.  We'll want this experience to be universal across our apps, so Cory has already start

[2018-02-12 14:49] benjanderson opened #115 "Typography"
create typography styles that establish size and font standards with sass variables and mixin helpers

[2018-02-12 14:56] benjanderson opened #116 "strange shape in background while loading"
The loading screen that @jacquie recently added is amazing and very professional. However, I noticed there is a strange "Utah" shape in the background.. Can others confirm this, or is it just my environment?

**Windows 10
Chrome Version 61.0.3163.100 (Official Build) (64-bit)**

![image](https://user-images.githubusercontent.com/1934453/36102549-df0f21aa-0fc9-11e8-82fc-fc893ac10325.png)

[2018-02-12 15:11] benjanderson commented on #115
plus with the recent addition of the reset css there was a` font-size:100%` resulting in many places having 12px font instead of 14px

https://kyleschaeffer.com/development/css-font-size-em-vs-px-vs-pt-vs/

[2018-02-12 17:41] ckeates commented on #82
I'll take a stab at this.

[2018-02-12 17:43] andrew-frueh commented on #82
Woohoo!  Glad to have you jumping in @ckeates :-D

[2018-02-12 19:17] andrew-frueh opened #117 "Checkbox / Radio Button labels are no longer vertically centered after CSS reset"
I noticed after the css reset was added, there are a couple styling issues that have cropped up.  Two that I noticed today are in the checkboxes and radio buttons.  Our text labels are no longer centered vertically with their box/button to the left.

@nickrflynn - do you have a few minutes to take a look at these?  If not, I can probably work on it later today.

[2018-02-12 19:20] andrew-frueh commented on #117
Also on this PR - take a look at the hc-icon demo page, the labels to the right of the example icons aren't centered anymore either.

[2018-02-12 19:20] nickrflynn commented on #117
I will take a look at this @andrew-frueh

[2018-02-12 19:31] andrew-frueh commented on #117
Thanks @nickrflynn!  One last thing so we can lump a bunch of small tweaks into one PR: I noticed on the Checkbox and Radio button demo pages that you're using unordered lists for your "usage" section content.  Can we switch that to `<p>` instead so that it matches the other pages and takes advantage of the global demo styles.

[2018-02-12 20:40] andrew-frueh commented on #63
After a discussion about this today, we decided that our standard advanced filters drawer would be more of a "cookbook" in our documentation to explain how you can assemble Cashmere components into that filter drawer.  @jtrujill is working on some enhancements to the hc-list and hc-drawer components to help facilitate this, and I'll also add a new issue for the filter "chips" or "chiclets" that ap

[2018-02-12 20:40] #63 closed

[2018-02-12 20:49] andrew-frueh opened #118 "Chip Component"
Primarily used in conjunction with a filter drawer, but there may be other uses as well.  I think the [Angular material version](https://material.angular.io/components/chips/overview) gives us a pretty good model to follow.  As in that component, having a standard chip and an "input chip" directive that can be closed is probably a good idea.

![chipexample](https://user-images.githubusercontent.co

[2018-02-12 23:23] cedar-ave opened #119 "Create syntax highlighting standards"
It could be helpful to guide how to style code presented in documentation and apps.

One use case is documentation sites that need to style endpoints in prose. [Here is an example page of HC documentation](https://platformdocs.healthcatalyst.com/articles/etl/single-use-pipelines.html) with both inline and block.

Another use case is apps that have SQL blocks, like SAMD and EDW Console.

In blocks,

[2018-02-12 23:29] andrew-frueh commented on #119
Great suggestion @cedar-ave!  We were just discussing today that it would probably be valuable on the Cashmere site to break out the component demos from the developer documentation #97.  @jtrujill and @corytak both mentioned the possibility of using markdown for the developer docs, and I suspect we could learn quite a bit from what you're already doing with your documentation.  Would be great to

[2018-02-12 23:45] cedar-ave commented on #119
Sure - can definitely help if I have anything useful to add. Markdown is definitely the way to go in my opinion and an easy win. Are any docs written yet?

[2018-02-13 00:00] andrew-frueh commented on #119
Well right now [everything is rolled into one](http://cashmere.healthcatalyst.net/demo/button) - the component demo, the usage guidelines, the demo code, and the component parameters.  Which seemed fine at first, but is already becoming cumbersome.  @jtrujill pointed out that as a developer he would rather not have to scroll through a bunch of component demos just to get to the list of parameters

[2018-02-13 20:58] benjanderson commented on #90
I still see this issue happening. Here is my environment

Version 61.0.3163.100 (Official Build) (64-bit)
Windows 10

[2018-02-13 21:06] benjanderson commented on #90
![2018-02-13 14 05 12](https://user-images.githubusercontent.com/1934453/36173675-0592a9e8-10c7-11e8-8cdb-9ee6821edd86.gif)

Here is my screenshot

[2018-02-13 21:26] benjanderson commented on #90
I am clicking on the tri flame, not just hovering

[2018-02-13 22:42] #90 closed

[2018-02-14 00:16] andrew-frueh opened #122 "Dropdown Label"
We currently have `<hc-select>` for dropdowns that use the native browser select (typically used on settings or configuration pages).  We also have the ability to tie a popover to `<hc-button>` for things like options menus.  But somewhere in between the two, there is a component that is used in a number of our apps, usually up in `<hc-subheader>`.  I'm suggesting we call it `<hc-dropdown-label>`,

[2018-02-14 18:56] #78 closed

[2018-02-14 19:10] benjanderson opened #125 "enhance breadcrumbs to support dynamic creation"
Currently the bread crumbs component reads the routes to build itself. This works for a simple site, but most sites including Atlas will need the ability to have the breadcrumbs built dynamically.

As an example, atlas uses metadata to build its routes/breadcrumbs. This is something we need supported
![image](https://user-images.githubusercontent.com/1934453/36222908-03eb7a20-1180-11e8-8c8c-41def6

[2018-02-14 19:22] andrew-frueh commented on #125
Thanks for adding this @benjanderson - looking forward to seeing what the solution for this looks like.

[2018-02-14 22:44] #115 closed

[2018-02-15 16:37] andrew-frueh commented on #119
Hey @cedar-ave, I'm glad you brought up syntax highlighting standards and formatting for `<code>` blocks in general.  I was actually just talking this through with @snicol21 yesterday for some work he's doing on documentation for Shared Data Marts.  What we came up with was pretty similar to what you're doing on your HC Documentation page as far as the font, size, background, etc.  But maybe Spenc

[2018-02-15 20:07] andrew-frueh opened #126 "Updated Demo Site Layout"
We've had some conversations about updating the layout and navigation of our demo site, and this is what I'm proposing as an upgrade:

https://xd.adobe.com/view/7a081799-3095-46c2-b22b-3b9f6393eb1d/

It borrows from some patterns on the Angular Material site and other documentation sites I like.  Rather than separating the component demo and documentation into two separate navbar tabs, @corykon ha

[2018-02-15 20:27] andrew-frueh commented on #44
Closing this issue because the conversation picked up on #83

[2018-02-15 20:27] #44 closed

[2018-02-15 20:58] benjanderson opened #127 "Getting started page"
Here are some things I think it should contain

## Installation Guide
- how to npm/yarn install
- import components/modules
- how to include base styles

## peer dependencies
- angular 5+
- font-awesome
- open sans
- popper.js (optional)

## considerations
- add polyfills if you want to support IE #19
- add body top-margin if static navbar

all this should be duplicated on the root read me as ment

[2018-02-15 21:00] benjanderson commented on #126
I saw the getting started page and wanted to give you my thoughts on it.
#127

[2018-02-15 21:17] corykon commented on #126
:+1: This is great stuff. I like the look and feel, feels very refreshed.

A few thoughts:
- A personal pref, I like "API" over "Documentation" for the component subnav, just because it's a little more specific.
- I'd love to make the examples section even more robust, perhaps have typescript/html toggles and a copy button when viewing the source, as well as syntax highlighting. (This could happen

[2018-02-16 00:22] andrew-frueh opened #129 "Buttons lost hover state"
Looks like on one of our recent merges, we introduced a style that is conflicting with the hover state on our buttons - either that or they aren't finding the shade() function.

[2018-02-16 01:17] #99 closed

[2018-02-16 18:15] cedar-ave commented on #119
@andrew-frueh I believe the tool I'm using to generate the website (DocFX) uses [highlight.js in the Github gist theme](https://highlightjs.org/static/demo/)
Here are the DocFX [details](https://dotnet.github.io/docfx/spec/docfx_flavored_markdown.html?tabs=tabid-1%2Ctabid-a#code-snippet)

[2018-02-17 00:20] andrew-frueh opened #132 "Responsive Demo Site Content"
Take the new layout for the demo site content and make it responsive.  This is what I'm proposing for the mobile version:

https://xd.adobe.com/view/7a081799-3095-46c2-b22b-3b9f6393eb1d/screen/b2eb28d7-8e5b-40b4-8f1c-dbbcf479239f/Small-Screen

The mobile version would hide the vertical tabs and display a subheader with a select component containing the navigation options.

[2018-02-17 00:36] andrew-frueh commented on #119
Thanks @cedar-ave - I like the "GitHub Gist" theme better than the normal "GitHub" theme.  @snicol21  - I'd recommend using that one as well for your Shared Data Marts docs page.

@benjanderson @jtrujill @corykon @corytak or anyone else have any experience integrating highlight.js with their Angular project?  We wouldn't build that dependency into the library, but maybe for the demo site?  Looks l

[2018-02-17 00:47] andrew-frueh commented on #97
Changing the name of the issue because I think it pulls together a few things that I'll try and get a consensus from the group on next week:
- What information belongs on our "Documentation" pages for our components
- Can we create a documentation template to follow what is decided on above
- Can that content be automatically generated and then piped into that template

[2018-02-17 17:48] cedar-ave opened #133 ""disabled" coding inconsistent in button section"
Not a programmer here but noticed disabled="false" or "true" is treated three different ways in each of these three snippets under "Buttons" - for less adept people like me, things like this can be confusing
![2018-02-17 10_43_13-cashmere](https://user-images.githubusercontent.com/15255009/36343922-fa77890a-13cf-11e8-9e8e-41e76026ab5b.png)
Unless it is supposed to be this way, then never mind.

[2018-02-17 22:32] andrew-frueh commented on #133
This is why I'm so happy you're getting involved in this project, @cedar-ave!  Very glad to have your eyes on stuff like this.  The correct syntax includes quotes, so `disabled="false"`.

Have you worked with GitHub projects before?  I know this is a super small thing, but this would be a perfect opportunity to create a fork for yourself, get familiar with how the project is structured, and submit

[2018-02-19 16:43] cedar-ave commented on #133
Thanks for the link @andrew-frueh @corytak - very clear and helpful. Does a PR need to be tied to an issue or project card? For example if I see something like this in the future do I just fix it and say what I changed in the PR or should I create an issue and then connect it to the PR?

[2018-02-19 17:05] andrew-frueh commented on #133
You can just go ahead and submit the PR and mention what you did in there - no requirement to create an issue.  But if you notice bigger things that you don't think you'll have the time to work on, that's where you can create an issue so we can discuss it and someone else can pick it up.

[2018-02-19 22:05] #129 closed

[2018-02-19 22:09] jtrujill commented on #118
I'll take this on. Should be easy

[2018-02-19 22:11] jtrujill commented on #133
This has been fixed

[2018-02-19 22:11] #133 closed

[2018-02-19 23:37] andrew-frueh commented on #118
Hey Jeremy, I actually got this one started last night.  It’s about halfway done, but I wanted to wait until the big layout change PR got merged before I went too far with it.  Hopefully you haven’t put too much work into it yet.

ANDREW FRUEH | DIRECTOR OF USER EXPERIENCE | HealthCatalyst
3165 MILLROCK DR #400  |  SALT LAKE CITY  |  UT  |  84121
o. 855.309.6800 | c. 801.696.9520
e. andrew.frueh@h

[2018-02-19 23:39] jtrujill commented on #118
I noticed after sending that message that you had taken it so I deleted my comment

[2018-02-20 06:13] jtrujill commented on #83
@corytak @benjanderson This would work amazingly for what we need https://github.com/semantic-release/semantic-release. We can use this for automatically incrementing the app version and for publishing to NPM.

This works by using a commit messaging standard in order to parse the change-log. This would require that people squash their commits, which is a good idea to do anyways. It doesn't help an

[2018-02-20 06:15] jtrujill commented on #83
An alternative to squashing is making an initial commit using `git commit --amend` for subsequent commits

[2018-02-20 06:17] jtrujill commented on #83
Forgot to mention it also helps to create change logs which will be important to have

[2018-02-20 19:15] #126 closed

[2018-02-20 19:23] andrew-frueh opened #137 "Vertical Tab Content background not extending 100% of page height"
Blech - I thought I had this fixed but now that I'm looking at it on a bigger screen, I'm realizing that it's still an issue.  The gray background of the vertical tab's content should extend the full height of the page - not end at the height of the tabs (see example below):

<img width="1586" alt="screen shot 2018-02-20 at 12 21 15 pm" src="https://user-images.githubusercontent.com/22795893/36444

[2018-02-20 19:52] joeskeen commented on #116
It's the Utah watermark.  Don't you know about the Utah watermark?

[2018-02-20 20:05] joeskeen commented on #112
I like the idea, IMHO the screenshot shows a survey that doesn't make very good use of vertical space.  Is this a third-party thing we don't have any control of?

[2018-02-20 20:20] corytak commented on #112
@joeskeen exactly. This is from a company called Typeform. They provide an embed script that goes out and fetches the additional js/styles to make the survey look like this. They have different options on their site for how the survey can be formatted and those are configured on their site. The thought for the component is that an app would just need to include this component and provide the url:

[2018-02-20 20:21] corytak commented on #112
Additionally each app would be responsible for determining how often a user was surveyed (e.g. keep track of that in a usersurvey table and only ask the user to take a survey every 30 days).

[2018-02-21 04:05] jtrujill commented on #83
@corytak @corykon @joeskeen @benjanderson @andrew-frueh

To go along with that there is a tool that can verify all commits called commitlint https://github.com/marionebl/commitlint

On that page are instructions for setting this up locally and on the CI server. This will help to ensure that all commits match the commit style that we choose.

With commitlint and commitizen using semantic-release wi

[2018-02-21 05:08] andrew-frueh opened #140 "Horizontal Tabs showing title tooltip anywhere within content"
@corytak - this is a minor issue but probably one we should fix.  When using horizontal tabs, if you hold your mouse anywhere within the content area, you'll get a tooltip with the "title" of that tab.  I'm guessing it's because we're using the title property to set the name.

![tooltip](https://user-images.githubusercontent.com/22795893/36463988-8365dfb6-168a-11e8-9c2d-a95c7324856e.png)

[2018-02-21 05:29] andrew-frueh commented on #137
Afraid our struggles with this one are not over yet :-(
If make your browser window pretty short, such that there are more vertical tabs than fit on the screen, and then scroll from over the tabs rather than the content area - the content area only contains the original height of the window.  So it scrolls up and clips any content that falls outside of that original height (due to `overflow: auto`

[2018-02-21 15:53] #137 closed

[2018-02-22 23:38] cedar-ave opened #144 "Add bullets to typography guidelines"
This would be helpful for web documentation. This is an example of a use case for three levels of bullets. In current state it doesn't look great.

![2018-02-22 16_31_25-set up the workspace _ articles](https://user-images.githubusercontent.com/15255009/36570264-7cdf03d8-17ee-11e8-8ba5-e3591b387ace.png)

[2018-02-23 21:37] benjanderson opened #145 "support for dynamic vertical tabs and parameters"
I was trying to create dynamic tabs for the guides section and ran into limitations. I love the tabs component, and can see it being used quite a bit. Here are some of the things I ran into if I the tabs were dynamically created or it had parameters

- adding parameters to the route caused issues
- using `*ngFor` caused a `ExpressionChangedAfterItHasBeenCheckedError` error
- the first tab is not b

[2018-02-23 21:42] #118 closed

[2018-02-24 17:32] jacquie opened #148 "Button component ts error"
For me Typescript is complaining about line 36 in button/button.component.ts `[ts] Property '_color' has no initializer and is not definitely assigned in the constructor.`

I am still learning the nitty gritty of Typescript - get and set being one of the more nitty :)
I can see that the `@input` color set and get` manipulate _.color, but it doesn't look like typescript is happy with  `this.color =

[2018-02-24 17:55] jtrujill commented on #148
There's a major difference between what the implementation does and what you're asking.

`this._color = 'primary'` will only assign to the variable while `this.color = 'primary'` will call the setter which will set the appropriate class based on the color being passed in.

This sounds like an issue with maybe your environment. From what I've been able to read the thing that would cause this is a n

[2018-02-24 18:04] #145 closed

[2018-02-26 23:05] #132 closed

[2018-02-27 21:12] #112 closed

[2018-02-27 21:22] andrew-frueh commented on #144
Great suggestion @cedar-ave, I hadn't even thought of this before.  For something like this, I'd trust your recommendation more than I would my own.  Do you have a suggestion for the best way to present nested bullets?  Particularly in a way that would work best for the documentation you're doing.  And if so, maybe add it as an additional tile on [this page](https://github.com/HealthCatalyst/Fabri

[2018-02-27 21:28] andrew-frueh commented on #96
@corykon - could I perhaps assign this one to you?  We had talked about some ideas you had for spicing up our loading spinner, which I think could then be applied to a spinner that could be used elsewhere.  And maybe you could also include the inline progress indicator you're using on Pop Builder when loading values (the three dots)?

[2018-02-27 21:35] #140 closed

[2018-02-28 16:58] cedar-ave commented on #144
Sounds good, thanks. I'll give it a shot. After looking around briefly, not many living style guides have typographical list components, especially with nested lists. But this one seems like a potential one for us  to model after: [http://carbondesignsystem.com/components/list/code](http://carbondesignsystem.com/components/list/code). I'll pursue something like that unless anyone feels differently

[2018-02-28 17:13] cedar-ave commented on #144
FYI @aflanders

[2018-02-28 17:37] aflanders commented on #144
@cedar-ave The HC Word template uses a smaller dash for the third level of bullet.
<img width="171" alt="bullets" src="https://user-images.githubusercontent.com/36929945/36802889-5a5aa676-1c73-11e8-8d68-2f4bf15ca1b1.PNG">
https://spark.healthcatalyst.com/docs/DOC-4201

[2018-02-28 17:54] SherriVance commented on #144
I believe the first level of secondary bullet is em dash, second is en dash

[2018-03-01 04:30] andrew-frueh opened #157 "Advanced Filters Guide"
Create a section for our soon-to-be-added "Guides" section related to including "Advanced Filters" within an app.  This is a common usage pattern seen in several of our apps, and it would be created using a combination of several Cashmere components including `hc-chips`, `hc-drawer`, and `hc-list`.  This guide would provide a blueprint for how to leverage these components to recreate this function

[2018-03-01 04:49] andrew-frueh opened #158 "User Feedback Guide"
Add a section to our new "Guides" tab to document recommended practices for gathering user feedback - particularly in relation to use of #152.  This will include suggestions from the customer feedback team on how often to survey users, what text to include when prompting, etc.

[2018-03-01 05:00] andrew-frueh opened #159 "Charts Styles"
Add a section to the "Styles" tab devoted to Charts incorporating guidelines from the current style guide.  Develop a supporting charts.scss file that can easily be leveraged by any app using D3 or nvD3 to help create a standard look for web app data visualizations.

<img width="1162" alt="pageone" src="https://user-images.githubusercontent.com/22795893/36827764-c63980f6-1cd2-11e8-91bc-96744a6bcbd

[2018-03-01 15:46] benjanderson commented on #116
This magically disappeared on my screen lately, and since no one else confirmed this, I am closing

[2018-03-01 15:46] #116 closed

[2018-03-01 19:39] andrew-frueh commented on #125
@joeskeen and @nickrflynn - Ben sort of volunteered you for this one today :-)  So I'm putting you down as assignees because the Atlas team already experience with this.  Let me know if you don't think you'll have time to work on it in the next couple weeks.

[2018-03-02 23:13] rustyswayne opened #161 "Should we introduce a localization/translation framework?"
Assuming Health Catalyst products will eventually be used outside the US it may be prudent to discuss integrating a ***very basic*** localization and translation framework sooner rather than later.

## Why now? ##

Essentially you wind up going through every bit of textual content, in every component and replace the explicit text with some sort of token/argument that is the key for some language s

[2018-03-05 15:38] benjanderson commented on #127
resolved by #160

[2018-03-05 15:38] #127 closed

[2018-03-05 21:10] corytak commented on #161
It looks like the angular team has quite a toolbox to help with this effort:
https://angular.io/guide/i18n

You can even use the cli to generate a translation source file:
[code]

[2018-03-06 17:19] cedar-ave commented on #144
Can we live with this? If so I will finish the work on the fork
![2018-03-06 10_17_43-microsoft edge](https://user-images.githubusercontent.com/15255009/37047333-cd8f9724-2127-11e8-8688-19eb4e81c6fd.png)

[2018-03-06 17:26] aflanders commented on #144
Looks good to me.

[2018-03-07 19:10] #119 closed

[2018-03-07 22:42] #40 closed

[2018-03-07 22:51] corykon opened #168 "Forms.scss"
We should create a sass file with general styles for form elements, including things like:
- Borders (width, color, etc)
- Error/focus states
- Font sizes
- padding/spacing
- etc

Two reasons for this:
1. Some styles are shared across many form controls, and as such should be variablized for easier changes in the future
2. It would be nice to have styles available so that someone could have their

[2018-03-07 23:31] corykon commented on #96
#167

[2018-03-07 23:31] #96 closed

[2018-03-08 00:21] andrew-frueh opened #169 "Collapse Navbar Links"
Didn't notice this until we added the Guides section, but it is possible for a navbar icon pinned to the right to cover the Guides link before the window hits the first responsive breakpoint:

<img width="801" alt="navbarlinks" src="https://user-images.githubusercontent.com/22795893/37125760-2bde366a-222b-11e8-9502-7504fa803be1.png">

I think this is an issue that many apps will face, especially t

[2018-03-08 00:24] andrew-frueh opened #170 "Convert all component documentation to markdown"
For consistency - update the documentation tab on all of our existing components to use @benjanderson's markdown library.

[2018-03-08 15:17] benjanderson commented on #170
How are we going to deal with tabbed documentation? We could either remove tabs, or I could attempt to make another cashmere flavored markdown addition to make tabs

[2018-03-08 15:55] andrew-frueh commented on #170
Good question @benjanderson - I took a look at the documentation we currently have, and for the moment I think it's okay to just move the tabs into their own tiles.  We don't have enough pages with tabs that it's a big deal.  But most of our documentation pages only show HTML and don't include a typescript section, which would be really good to have tabs for.

So I'm thinking I'll submit a PR toda

[2018-03-08 16:08] benjanderson commented on #168
This is big one, as there are many form styles within the demos themselves. Here are some of the examples I found:
Operations Console
![image](https://user-images.githubusercontent.com/1934453/37161217-50006f2a-22af-11e8-8494-210d25222987.png)

Care Administrator
![image](https://user-images.githubusercontent.com/1934453/37161257-67a4d60c-22af-11e8-929e-b5ba9754e2b3.png)

Atlas
![image](https://us

[2018-03-08 18:01] andrew-frueh commented on #169
Moving @corykon's comment from Slack over to this thread so we don't lose it.  This link has some great examples about how other sites have addressed this problem:

[https://css-tricks.com/the-priority-navigation-pattern/](https://css-tricks.com/the-priority-navigation-pattern/)

It looks like the "More" dropdown is a pretty common pattern.  There's only one issue I see with that.  The navbar high

[2018-03-08 18:16] #170 closed

[2018-03-12 15:17] benjanderson opened #174 "Cleanup documentation"
The readme and contribution guide are out of date and have quite a few errors and need some general cleanup. Also, there are some topics that need their own guide like
- Packaging the library
- Supported browsers

I have assigned myself but would love you to review my changes @cedar-ave

[2018-03-12 15:18] cedar-ave commented on #174
Happy to do that @benjanderson

[2018-03-12 18:56] corykon opened #175 "Toasts"
We should standardize our toasts!

Lots of us are using something like https://www.npmjs.com/package/ng2-toastr, but I've run into some frustrating limitations. We could make something a little more flexible, and make sure it's styles are better aligned with catalyst colors/icons/etc.

Here's a screenshot of ng2-toastr along side what an hc-toast component might look like
![image](https://user-ima

[2018-03-12 19:38] andrew-frueh opened #176 "404 & Other Error Pages"
We've had a lot of requests from our various app teams on how to handle 404 or other error pages.  I'm thinking this would probably be a component because it has some specific formatting and would simplify displaying the error for developers.  But if a guide makes more sense that's fine too.  The image below shows the basic structure that can be extended to whatever the particular error is.

![404

[2018-03-12 19:58] benjanderson commented on #176
I would prefer a guide/css style as the most recent use case I had was when angular failed to initialize

[2018-03-12 20:00] andrew-frueh commented on #176
Good point @benjanderson - that makes sense.  Will plan on making this as a guide with associated styles.

[2018-03-12 21:26] #159 closed

[2018-03-13 02:06] cedar-ave commented on #144
@andrew-frueh Here is my fork https://github.com/cedar-ave/Fabric.Cashmere/tree/lists
I put the HTML in an "article" div because I'm wondering if documentation should have its own styles in some cases. It seems like there may be other contexts for lists that this may not be ideal for.
It certainly needs review/improvement and I would be interested to pair program with you on this sometime if you g

[2018-03-13 16:56] AdamGMiller opened #178 "Tab Component - DefaultToFirstRoute not working with child routes"
LeadingWisely had to remove the '/' after ${routerLink} in order to disable the routing to the first tab:
`return currentRoute === routerLink || currentRoute.indexOf(`${routerLink}/`) > -1;`

The tab component was in a module that was also a child route:
[code]

[code]
We may want to revisit how this method determines which route it's on and if it should route to the first tab.

[2018-03-14 22:48] jonest opened #180 "Intellisense not working in VS Code"
The title may not be the best, but essentially what I'm seeing when I try to install the `npm` package are VS Code errors saying it can't find various members of our package.

The build completes and will render (seemingly) correctly, but the editor itself thinks there are problems.

Took a peek at what the Angular package structure looks like and compared it to what the Cashmere package structure

[2018-03-14 22:57] jonest commented on #180
Not sure if this should be included as a separate issue, but I also needed to manually install `popper.js` after installing `@healthcatalyst/cashmere`. I think there's a way to include that as a dependency? Unless it's been removed as a dependency since that was published.

[2018-03-14 23:40] #144 closed

[2018-03-14 23:52] #176 closed

[2018-03-19 15:09] benjanderson commented on #98
@joeskeen is correct, the module does export all the needed files. That is unless you have an interface or other helper classes that aren't being referenced in the dependency tree.

Many people have not kept the `index.ts` barrel files up to date, so an upcoming pull request removes them as most are out of date. I like sticking mostly with the modules unless you have something else that isn't bein

[2018-03-19 15:37] benjanderson opened #183 "Seperate reference styles from global styles"
As an exercise to vet out bugs, I created a new project and referenced the cashmere npm package and then copied the demo into the new project. I found that when we reference styles from a component, it pulls in styles into our component that are meant as global styles, but are being applied to the individual component. I suggest we separate out reference or helper styles from the global styles.

!

[2018-03-20 02:45] cedar-ave opened #184 "Soften "Access Denied" page"
This is a pretty loud, in-your-face message...
![2018-03-19 20_38_23-cashmere](https://user-images.githubusercontent.com/15255009/37632857-c29777d6-2bb5-11e8-86e5-a040a79e2fb1.png)
Can it be softened to something like, "You need additional privileges to access this application. Please contact your systems administrator" (with no heading)?
The icon with the big X might also be replaced with a lock

[2018-03-21 15:13] cedar-ave commented on #184
Encountered one myself today that seemed good as well - would translate to something like -
Whoops! Looks like you are missing permissions to access this resource. Please contact your systems administrator. Find details and guidelines about permissions here.

[2018-03-23 20:11] benjanderson commented on #174
closed by #181

[2018-03-23 20:11] #174 closed

[2018-03-24 15:49] benjanderson commented on #180
With the recent pull request #185 I think the intellisense should be improved although I didn't do anything to specifically address it.

@jonest can you install the latest `npm i -save @healthcatalyst/cashmere` and verify if this is fixed

[2018-03-24 15:51] benjanderson commented on #180
It is by design that you have to manually install popper.js, we don't include other libraries into the package to minimize package size and also avoid version conflicts.  It is a part of the getting started guide to install it manually  http://cashmere.healthcatalyst.net/guides/getting-started

[2018-03-29 17:45] benjanderson opened #188 "Add instructions on what to import in documentation"
Using Cashmere I have to look to the source code to know what to import to get full functionality. It should be documented what modules to import. This can easily be added at the bottom of each components documentation

For example if I want to use the `hc-input` directive from the [input demo](http://cashmere.healthcatalyst.net/components/input)
[code]

I would have to import the `hc-input` modul

[2018-03-29 19:21] benjanderson opened #189 "hc-icon doesn't allow multiple classes"
Font awesome has many examples on their site of how to combine classes to flip, combine, rotate, and stack icons by including multiple classes.
https://fontawesome.com/v4.7.0/examples/

This code will flip the icon 90 degrees
`<i class="fa fa-shield fa-rotate-90"></i> fa-rotate-90<br>`

I created a search textbox that I wanted a spinner on the right side
[code]

but alas, it did not spin

but ther

[2018-03-30 13:57] jtrujill commented on #189
If you want to add the fontawesome transformations just add those to the class attribute

`<hc-icon fontSet="fa" fontIcon="fa-spinner" class=" fa-pulse fa-fw"></hc-icon>`

[2018-03-30 13:57] #189 closed

[2018-04-08 16:16] andrew-frueh opened #197 ""Guides" second click error"
@benjanderson I noticed this while I was working on the collapsing navbar.  If you click on "Guides" it navigates you to the guides section as expected.  But if you click on "Guides" a second time while already on the Guides page, it looks like it doesn't know where to take you.  This isn't an issue with the other sections, and it wasn't totally clear to me how to fix it because of the way you're

[2018-04-11 19:19] #98 closed

[2018-04-11 19:51] isaaclyman commented on #74
My experience with popular libraries (in and out of Angular) is that they don't consider the needs of users who stray from the presets. Said users usually are not motivated by artistic aspirations or a desire to stray from approved styles, but by design specs that require functionality above and beyond what the library offers.

There's an exponential relationship between how complex/large a compon

[2018-04-11 20:11] isaaclyman commented on #72
A common practice on GitHub repos is that before an individual contributor (i.e. not an official project maintainer) writes any code, they create an issue detailing their intentions (a design document). It includes:

- Why a change is needed
- Whether it's a bug fix or a new feature
- Which files are going to be modified
- Which public interfaces will have to change, and how

This doesn't need to

[2018-04-12 15:06] benjanderson opened #199 "popover doesn't trigger in IE 11"
Reproduced in IE 11.125.16299.0 on windows 10
![](https://imgur.com/auGyDn4.gif)

[2018-04-12 15:09] benjanderson opened #200 "Many components do not render when navigating between tabs in Microsoft Edge"
Reproduced on Edge 41.16299.15.0
![image](https://user-images.githubusercontent.com/1934453/38686199-08446798-3e31-11e8-89de-5031a1f825ab.png)

The following error was in the console, I am not sure if its related
`HTML1500: Tag cannot be self-closing. Use an explicit closing tag.`

[2018-04-12 15:19] benjanderson opened #201 "remove borders on table headers"
On the table styles it gives an option for a table with borders

http://cashmere.healthcatalyst.net/styles/table
![image](https://user-images.githubusercontent.com/1934453/38686664-14caef54-3e32-11e8-8c4f-acce08fb3b4c.png)

but on a xd ui mockup there exists a table with borders that doesn't have borders on the table headers.
![image](https://user-images.githubusercontent.com/1934453/38686796-6f52

[2018-04-16 17:42] isaaclyman opened #202 "`npm run build` throws warnings and errors"
The build throws several warnings and errors, then fails completely.

[code]
...
[code]
...
[code]
...
[code]
...
[code]
...
[code]
...
[code]

[2018-04-16 18:01] isaaclyman opened #203 "Select chevron overlaps content inside of an element of dynamic width"
If you set the parent div to `display: inline-block` and don't set the width, the select chevron overlaps the option content:

![image](https://user-images.githubusercontent.com/9139369/38826671-c001ed4e-416d-11e8-99d1-58009df563b9.png)

This can be fixed by adding `padding-right: 50px` to the `hc-select select` selector in `select.component.scss`.

[2018-04-16 18:08] isaaclyman opened #204 "Basic input with icon doesn't work"
It's unclear what FontAwesome icon sets and what version of FA are supported, and if FontAwesome comes bundled or has to be installed separately. The following shows an input with no icon:

[code]

![image](https://user-images.githubusercontent.com/9139369/38827010-c7a5d528-416e-11e8-9ed5-02d75011b65d.png)

[2018-04-16 18:13] isaaclyman opened #205 "Anchor buttons have underlined text"
Markup as follows:

[code]

Produces this:

![image](https://user-images.githubusercontent.com/9139369/38827224-765c02ea-416f-11e8-98f5-638d02c808dc.png)

(the lack of an icon is addressed in issue #204)

Underlined text in a button is non-standard and visually confusing.

[2018-04-16 18:17] isaaclyman opened #206 "When the Cashmere documentation page loads, many resources throw a 404"
Upon loading any page in the Cashmere components documentation, the following network requests fail:

![image](https://user-images.githubusercontent.com/9139369/38827364-eb6385e0-416f-11e8-8741-fe76897fb45e.png)

Although most say `ERR_ABORTED`, inspecting the Network tab reveals that they've all thrown 404 Not Found errors.

[2018-04-16 18:44] isaaclyman opened #207 "The checkbox doesn't check"
Using this markup:

[code]

I get something that looks like a checkbox:

![image](https://user-images.githubusercontent.com/9139369/38828639-ea8a92fe-4173-11e8-83c1-c876182e8636.png)

But doesn't change to a checked state when I click on the box or on the label.

[2018-04-16 20:26] isaaclyman commented on #205
Update: After importing the stylesheets for the project the problem went away. I'm a little uncertain about which styles are provided a la carte and which ones are dependent on importing a global stylesheet.

[2018-04-16 20:26] #205 closed

[2018-04-16 20:31] joeskeen commented on #206
These are all font files... we'll need to check and make sure all are deployed when the CI/CD process runs.

[2018-04-16 20:35] joeskeen commented on #204
I was able to get this to work in Fabric.Authorization.AccessControl:

[code]

See source at https://github.com/HealthCatalyst/Fabric.Authorization/blob/master/Fabric.Authorization.AccessControl/src/app/modules/access-control/member-list/member-list.component.html#L29

You may want to check out that project and see if your project configuration matches what we have... something may be missing.

[2018-04-16 20:37] joeskeen commented on #204
@isaaclyman do you need to change `"fas"` to `"fa"`?

[2018-04-16 20:46] isaaclyman commented on #204
That works. For clarification, the FontAwesome documentation indicates that the fontset is "fas": https://fontawesome.com/icons/filter?style=solid

Any thoughts on why the `fontSet` attribute exists if it only accepts `"fa"`?

[2018-04-16 20:47] joeskeen commented on #202
@isaaclyman you can fix this by running `npm i --save npm-font-open-sans`

[2018-04-16 20:51] isaaclyman commented on #203
Happy to submit a PR as soon as the build is fixed.

[2018-04-16 20:55] isaaclyman commented on #202
It looks like open sans is optional--is there a reason it's a peer dependency? This may lead users to believe it's required.

[2018-04-16 20:56] benjanderson commented on #206
You are using the old demo page http://cashmere.azurewebsites.net/home which doesn't have the fonts set to correctly serve. Please use the new demo site: http://cashmere.healthcatalyst.net

btw, this is an issue with IIS and can be fixed by adding something to the web.config.
https://stackoverflow.com/a/25796999/810850

[2018-04-16 20:56] joeskeen commented on #202
I am aware of some of these warnings, but I'm able to build without errors.  Would you like to set up a call to walk through this and resolve the issues you are seeing?

[2018-04-16 20:57] #206 closed

[2018-04-16 20:58] benjanderson commented on #204
We use font awesome 4 which uses "fa" https://fontawesome.com/v4.7.0/ "fas" was introduced in version 5 as many classes had breaking changes.

[2018-04-16 20:58] isaaclyman commented on #202
Just to make sure we're on the same page first, are you building from the latest version of `master`?

[2018-04-16 21:01] #204 closed

[2018-04-16 21:32] joeskeen commented on #202
Yes.  Just to confirm, I recloned the repository from scratch, ran `npm i`, and `ng build` and it completed successfully.  Also, you can see on the repository's home page that the build is passing in Travis CI: https://travis-ci.org/HealthCatalyst/Fabric.Cashmere/branches

[code]

[2018-04-16 21:38] joeskeen commented on #202
Here are my tools versions:

[code]

[2018-04-16 22:00] jtrujill commented on #202
When I run `npm run build:lib` it completes fine but when I run `npm run build:demo` I get the following
`ERROR in ../lib/src/button/button.module.ts(9,2): Error during template compile of 'ButtonModule'
  Function calls are not supported in decorators but 'ɵmakeDecorator' was called in 'NgModule'
    'NgModule' calls 'ɵmakeDecorator'.`

[2018-04-16 22:11] joeskeen commented on #202
For normal library development, you should only need to run `ng serve`.  You should only need to run `npm run build:lib` if you are doing an NPM package build.  As a part of that process, it installs the subset of packages that are needed for the library in the `lib` folder.  If you have run that already and want to run the demo again, you need to remove the `lib/node_modules` folder.  In the futu

[2018-04-16 22:45] corykon commented on #207
@isaaclyman Thanks for submitting this! There's a bug with the way this component sets up ids when one isn't explicitly provided.

I'll submit a PR to fix, but in the meantime, a workaround would be to add an id to your checkbox component.

[2018-04-16 22:48] joeskeen commented on #202
That is interesting.  I have never tried that command, but it seems that it is fundamentally flawed:

`"build": "npm run build:lib && npm run build:demo",`

As I mentioned before, you can't run the Demo build right after the lib build.  I'll have to fix that.  For now, though, just use `ng build`.

[2018-04-16 23:14] #207 closed

[2018-04-17 01:54] jtrujill opened #210 "Cashmere restructure"
## File Structure
The file structure is a bit confusing. Right now we have things in docs/app which refer to the demo app and we have things for the library under lib/src. It's common to keep all of your source code under the same root directory. So for example we would have the following structure:
[code]

#### Package.json
It's also confusing to have two package.json files and the only real diff

[2018-04-17 15:38] jtrujill opened #211 "hc-select acts as block element"
hc-select acts like a block element which isn't expected. The hc-select element should have `display: inline-block` applied to the host element. Instead of having the `<span class="chevron"></span>` wrap the native select element, a padding should be applied to the right side so that the chevron can be absolutely positioned there.

Related to #203

[2018-04-17 15:58] jtrujill commented on #210
The stuff about markdown and the api interface can be put off initially. The most important part of this discussion I want to be about making development easier and making the project structure more standardized.

Right now the build doesn't work if you build the library and have those artifacts hanging around. I can get a PR out that fixes that issue and makes our structure more standard

[2018-04-17 16:43] benjanderson commented on #210
I love many of these ideas, I agree with the project structure and would love to have a way to have a live coding example.

About a month ago, I created a new app and copied the demo site and added the npm package. It was eye opening how many things we didn't think of when creating the library. To reproduce Isaacs bugs, I installed the latest npm and the app is broken 😖

I would propose we separat

[2018-04-17 16:52] corykon commented on #210
I LOVE the idea of using dgeni, and embedding some kind of code previewer like code pen. Many conversations have been had conversations about both of those... tough thing is being able to invest the time needed to make it happen.

[2018-04-17 17:17] jtrujill commented on #210
@benjanderson I think that is a really good idea about separating it completely. If that's the consensus I can even do that, but for what I was proposing I could just move the demo under a root directory or src/  so that it follows the structure I had in the above comment. I'll see if I can mess around with that sometime this week and get something in a PR

[2018-04-17 17:51] corykon commented on #201
@andrew-frueh have an opinion on this one? I'm happy to peel those borders off the table headers real quick.

[2018-04-17 17:55] andrew-frueh commented on #201
Yeah, good catch @benjanderson.  In all my prototypes I've displayed tables without borders on the header.  So @corykon if we can make that the default that would be great.  But there might could be a situation where header row borders are needed.  So maybe leave the style in there as an option to include if there is a reason for it.  That work?

[2018-04-17 17:57] #203 closed

[2018-04-17 18:37] benjanderson commented on #210
It looks like angular material uses stack blitz for their live coding examples. I was able to get something working with cashmere

https://stackblitz.com/edit/cashmere-demo

I think this would be a great alternative so the demo matches the code

[2018-04-17 18:45] andrew-frueh commented on #210
A couple thoughts to throw in:
- Regarding separating the demo site from the library: the only thing that I could see being annoying there is the ability to test a component as you're developing it.  Could you guys help me understand how that would work if they are separated?  Would a developer just make a placeholder page for testing in the library project while they're writing that they would th

[2018-04-17 19:29] joeskeen commented on #210
The project structure has definitely kept me up at night.  Thanks @jtrujill for calling it out!

[2018-04-17 19:38] jtrujill opened #215 "dist.tgz"
I'm not 100% but I imagine this file is generated during the npm publish, correct? This shouldn't be committed to the repo. Every time this file changes it'll add another 1mb to the size of this repo and anything that is generated shouldn't be committed to a repo.

Is there any issue with me adding a gitingore rule for this file? I can't remember if npm uses the .gitignore file for it's publish fe

[2018-04-17 19:47] joeskeen commented on #215
Agreed.  Not sure how that got added to the repository, but it should be removed and ignored.

[2018-04-17 19:57] jtrujill opened #216 "Input update"
I'll be making an update to the input component so that it's easier to use. Currently this is what you need to do:

[code]

What I had originally planned to do before getting swamped with work was this

[code]
I had created a ticket a while ago that talked about copying the style that angular material uses for their labels. Which style is preferred? I could make it so it's configurable, so that th

[2018-04-17 19:58] isaaclyman commented on #216
Where does the label go in this configuration?

[2018-04-17 20:04] corykon commented on #201
@andrew-frueh: sounds good

[2018-04-17 20:14] jtrujill commented on #216
Here's one solution:

[code]

Another:

[code]

I prefer solution one because it doesn't introduce another element the user needs to use in the template and I don't want them to be confused and think they need to do some kind of `label for=""` matching using IDs. I'd like to keep that abstracted away from the user and handle the label myself. It's less error prone and just easier to work with

[2018-04-17 20:31] jtrujill opened #218 "anyToBoolean is incorrect"
I created a helper function called anyToBoolean a while ago, but one of the issues with it is that it expects the value to be a boolean or to have a string value that is 'true' or 'false'. Here's the correct html 5 boolean attribute def:

[code]

**_With that definition an empty required attribute would be marked as false which is incorrect._**

To fix the current implementation it should be check

[2018-04-17 20:44] jtrujill commented on #218
This change looks larger than it is but it's just a rename of the function

[2018-04-17 20:52] jtrujill opened #220 "Cleanup imports"
I'm going to cleanup the imports in the project so that they are easier to read. An example of what the imports look like can be found in the components.module.ts

[code]

I'm going to use typescript pathMapping to help clean them up so that we can import the components needed by doing the following

[code]

@joeskeen what was the issue with using the index.ts file for every component? It's standa

[2018-04-17 20:53] jtrujill commented on #220
I saw you mentioned something about using explicit exports and I can do that and maybe that will fix whatever issue you were seeing

[2018-04-17 21:40] #218 closed

[2018-04-17 22:10] jtrujill commented on #210
That's a good point @andrew-frueh. We could keep a very simple demo of the app for the lib development purposes only and as further examples for developers only.

I think that it'd be a good idea to separate the documentation and examples from this repository because this repo is intended for the development of Cashmere.

As a developer when I'm unsure about how to use a library I go to the github

[2018-04-17 22:12] jtrujill commented on #210
The web style guide app could then have a reference to http://cashmere.healthcatalyst.net, which would have the generated documentation for each component for the developers

[2018-04-18 01:34] jtrujill opened #222 "Pagination double ellipsis elements"
I don't know if this is intended behavior but it seems odd to have more than more ellipsis element within a pagination element.

<img width="764" alt="screen shot 2018-04-17 at 7 30 44 pm" src="https://user-images.githubusercontent.com/5596515/38906875-40c3d2d6-4276-11e8-8ea5-3eec6df75120.png">

@joeskeen @andrew-frueh What should the intended behavior be?

[2018-04-18 04:30] #222 closed

[2018-04-18 14:51] joeskeen commented on #220
Be sure to test building the demo app, building with AOT, the library, and usage of the library after it is `npm pack`'d.  I seem to recall some issues with the TS aliasing earlier in the project, but maybe you can figure out how to get past them.

[2018-04-18 15:27] #201 closed

[2018-04-18 16:37] jtrujill commented on #220
@joeskeen I just tried to get a reference to a ButtonComponent and the import looks like this
`import {ButtonComponent} from '@healthcatalyst/cashmere/src/button/button.component';`

and when I try to get a reference to the button in the html like so

`@ViewChild(ButtonComponent) button: ButtonComponent;`

it produces the following error at compile-time
`Module not found: Error: Can't resolve '@he

[2018-04-18 19:25] isaaclyman opened #223 "hc-subnav should not have a margin"
`<hc-subnav>` has a bottom margin of 22px. This makes it harder to implement e.g. a sub-sub-navbar, such as the one in this design spec:

![image](https://user-images.githubusercontent.com/9139369/38953377-cdf38670-430b-11e8-87eb-6c8d738d94ba.png)

IMO a subnav should have no margin, and if a margin is desired, the element beneath should implement margin or padding.

Any dissenting opinions? If no

[2018-04-18 19:28] jtrujill commented on #223
I may not understand this but none of these components should have an outside margin applied. The user of the component should be able to set whatever margin they need

[2018-04-18 19:31] andrew-frueh commented on #223
@isaaclyman - I think I added that back when I was building it.  I agree with both of you about components not having their own margin and leave that to the app.  So please go ahead and submit a PR to remove that.

[2018-04-18 19:40] #223 closed

[2018-04-18 19:58] #211 closed

[2018-04-18 20:06] jtrujill opened #226 "Select component uses native option"
I've marked this as a bug since this uses a native html element in the select component to display values. A HealthCatalyst component should be created to avoid future issues, such as maybe we decide we don't want this component to be a wrapper around the native html select option and instead we want to go with our own component which allows things other than just text in the options element

####

[2018-04-18 20:17] isaaclyman opened #227 "hc-button color attribute is not documented"
In the documentation for hc-button, there are several button styles listed, but only one is documented:

![image](https://user-images.githubusercontent.com/9139369/38955876-1ca00b0c-4313-11e8-98c1-a85cea0b1517.png)

I couldn't find a page that lists the available values for the `color` attribute. Inspecting the demo page reveals what they are, but we shouldn't expect our users to do that.

[2018-04-18 20:32] isaaclyman opened #228 "Feature request: Icon buttons"
UI libraries often have two categories of buttons: regular buttons and icon buttons.

- Regular buttons are rectangular, whereas icon buttons are round
- Icon buttons may or may not have a visible background color or borders
- Icon buttons have very little padding
- On hover, the icon itself will often change color

This is something that shows up frequently in design specs:

![image](https://user

[2018-04-18 20:43] jtrujill commented on #228
I've been wanting to do this, so I'll assign this to myself and get something done

[2018-04-18 20:47] isaaclyman opened #229 "Tables should be discoverable in the Components list"
When I was first looking for a table component, I scanned through the Components list, didn't see one, and implemented my own. That's an avoidable mistake. It was only later, when I was exploring the Cashmere docs generally, that I discovered Cashmere has table styles.

The `.hc-table` class may not add functionality to the native HTML, but in my mind neither does `[hc-button]`. Whether or not it

[2018-04-18 21:10] jtrujill commented on #229
There is/was table component under development. I think those styles were really only meant as a starting guide to our own table component

[2018-04-18 21:13] isaaclyman commented on #229
Yeah, Andrew mentioned that on Slack. Sounds like it will be ready soon. I'll close the issue.

[2018-04-18 21:13] #229 closed

[2018-04-18 21:52] #169 closed

[2018-04-19 03:00] benjanderson commented on #210
At ng-conf they announced support for libraries in the angular cli https://github.com/angular/angular-cli/releases

Here is the project structure of a project created this way:
![image](https://user-images.githubusercontent.com/1934453/38968906-cfd7b422-434a-11e8-9957-7adb7a8b59cf.png)

It does have a separate package.json, probably so you can have multiple libraries in one project

`ng serve` sto

[2018-04-19 03:42] benjanderson commented on #210
@jtrujill Let me get this clear on your proposal:
#### repos
@healthcatalyst/cashmere - component library to be packaged up as an npm package, contains auto generated docs, and simple examples. This would also contain the sass style sheets
@healthcatalyst/cashmere-demo (or whatever) - demo site
@healthcatalyst/style-guide (or whatever) - example of components used in real app

#### websites
cashme

[2018-04-19 15:53] isaaclyman opened #230 "Cashmere does not export ActiveModal"
If I try to inject an ActiveModal object in my modal component, VS code offers to import it from Cashmere. But if I do, I get this error:

![image](https://user-images.githubusercontent.com/9139369/39002771-8657555c-43b6-11e8-887c-51410b5de8d2.png)

I think this is because ActiveModal is in the TypeScript declaration file for the module but not exported by the module itself.

~As a workaround, I c

[2018-04-19 15:54] jtrujill commented on #230
I have a PR out to fix this issue right now

[2018-04-19 15:54] jtrujill commented on #230
PR #225

[2018-04-19 15:55] isaaclyman commented on #230
Awesome.

[2018-04-19 15:57] andrew-frueh commented on #210
We've now have all the approvals needed from leadership to form the steering committee for Cashmere.  For those who haven't heard, the steering committee will be made up of Bryan, Imran, myself, and one developer representative from each of the products lines.  The product line leads are currently working on selecting who those representatives will be, and then we can get that group together to me

[2018-04-19 16:29] #82 closed

[2018-04-19 16:34] jtrujill opened #231 "Cashmere Release Date"
I’ve heard from people that Cashmere was supposed to be released either last Friday or this coming Friday and I just want to put it out there that I don’t think Cashmere is close enough to be at a 1.0 release. There are still some serious issues being worked out, and I think it’d be best to put a hold on the release for a bit.

I'd like to get all components reviewed and really go over the interfa

[2018-04-19 16:49] jtrujill commented on #210
@benjanderson You seem to have a good understanding about what I'm proposing

@andrew-frueh I agree that we should hold on making radical changes like pulling our current demo out until after this meeting, but I'd like to proceed forward with moving all of our source code under the /src directory. @benjanderson I'll take a look at the structure used by @angular/cli-rc2 and see if I can get that in

[2018-04-19 19:53] andrew-frueh commented on #231
I agree with you @jtrujill - I've been thinking the same thing.  A lot has changed for Cashmere in the past 10 days with your team starting to use it in your app.  In many ways the 1.0 release was more about a list of components, but as we've discovered, a big component list does not a successful library make.  At best we're really only at a beta phase right now.  The formation of this steering co

[2018-04-20 15:16] #230 closed

[2018-04-20 15:16] #220 closed

[2018-04-20 15:48] TonyCurtisLives commented on #231
So we were wanting to implement the library in early May in edw ops. Does this mean the library is too "buggy and unstable" for us to go forward with this? What serious issues are there? It is something I would like to know before we plan to move forward.

[2018-04-20 16:05] jtrujill commented on #231
@TonyCurtisLives The interface of the components is likely to change, so if you use the library don't be too surprised if things break on you. Things are still being worked out. I'm going to be updating the input component which will introduce a slight breaking change.

The library doesn't have many unit tests and for me that is a concern and will be the next thing I will be tackling. I just don't

[2018-04-20 16:10] andrew-frueh commented on #231
Good question @TonyCurtisLives and thanks @jtrujill for the follow up.  From a product management position, if your team is willing to be early adopters, Tony, it will be great for Cashmere - even if it means potentially a bit more work for your team to log issues when they come up, and potentially help submit PR's for fixes.  We've learned a lot from having the CQE folks get in there and start us

[2018-04-20 20:32] isaaclyman opened #233 "hc-table cells aren't centered vertically"
In tables.scss:

[code]

Why are cells top-aligned? It makes them look off-balance:

![image](https://user-images.githubusercontent.com/9139369/39072413-abe828a4-44a7-11e8-8fb7-bb96497ca953.png)

Can we make this `vertical-align: middle`?

[2018-04-20 20:55] corykon commented on #233
I'm curious to see the entire row... is there a cell that has two lines and is forcing that extra space in the bottom of the cells in your screenshot?

If not, there's some extra going on there... padding or line-height or something that is throwing things off. The cashmere table rows should be styled such that if there's only one row, things should be centered. Maybe there's a bug.

As to why `ve

[2018-04-20 21:06] isaaclyman commented on #233
That picture clears things up for sure, I didn't realize multiline table rows were supported.

Turns out you're right. I had a couple buttons in the row that were too tall and made the row taller than it should have been. Thanks for the explanation. Closing this issue.

[2018-04-20 21:06] #233 closed

[2018-04-20 21:06] andrew-frueh commented on #233
You beat me to it @corykon.  You're spot on regarding the analysis for why to use vertical-align: top. Centered aligning the cells creates multiple horizontal alignment points for that row, so it becomes more difficult to scan - requires more eye travel.  See the attached for how that creates a problem:

![centercells](https://user-images.githubusercontent.com/22795893/39073805-4b541160-44ac-11e8-

[2018-04-20 23:27] TonyCurtisLives commented on #231
So what I hear you saying @andrew-frueh is the team effort to early adopt will not likely cost us more time than build from scratch. But I can see the value in the effort being more positive in that the effort will benefit many rather than a single project. To me this sounds reasonable, and I do want to support Cashmere, so we will go ahead and use the libraries.

[2018-04-23 18:10] joeskeen opened #235 "Discussion: Use the Angular CDK"
At ng-conf last week I was made aware of the Angular Component Development Kit, or Angular CDK.  This is a collection of common interaction patterns used in every UI library that enables UI library developers to focus more on the look of their components without having to worry about complications surrounding accessibility, managing overlays, mobile breakpoints, or LTR/RTL content flows.

This pac

[2018-04-23 18:13] joeskeen commented on #235
After having worked for a while on the Cashmere table (#79), and understanding the high degree of complexity in implementing such, I am encouraged to see that the CDK contains an "unopinionated, customizable data-table with a fully-templated API, dynamic columns, and an accessible DOM structure".  This may be a better starting point than what we currently have, and allow for further functionality

[2018-04-24 22:51] #61 closed

[2018-04-25 16:52] isaaclyman opened #236 "Breadcrumbs component doesn't support some common use cases"
Suppose I have two pages in my app, with the following breadcrumb trails:

1. `Job History`
2. `Job History > Create Job`

The first one is easy to implement:

[code]

If "Job History" and "Create Job" each have content they need to display, and it doesn't make sense to have the "Create Job" page inside of the "Job History" page, at the moment Cashmere does not offer a viable solution. This is a c

[2018-04-25 17:52] isaaclyman commented on #236
Also: there's no way to skip the breadcrumb for a componentless parent route. If you have the following configuration:

[code]
`path: ':id'` is a componentless route. If you set its breadcrumb to `null`, you get:

`Job History > > Column Details`

And if you don't set a breadcrumb at all, you get:

`Job History > Job History > Column Details`

[2018-04-26 03:20] benjanderson opened #237 "circular dependency in radio button component"
When I compile I get the following error

`WARNING in Circular dependency detected:
lib\src\radio-button\radio-button.component.ts -> lib\src\radio-button\radio-group.directive.ts -> lib\src\radio-button\radio-button.component.ts`

And looking at both these components there is a circular dependency. This should be factored out into a third component or removed.

This was introduced last week in #2

[2018-04-27 18:17] jtrujill commented on #235
I'm all for using the CDK. I had mentioned using it for the table since it provides everything that we need and is quite flexible. I've tried to design my own table component and it's difficult to do and I honestly would rather write a wrapper for the CDK table element. There are some other useful features that we could use to cleanup our code

[2018-04-27 18:39] andrew-frueh commented on #235
This sounds good to me.  If we use the CDK as our base, I'm assuming our component's default skin will still follow our [table style standards](http://cashmere.healthcatalyst.net/styles/table)?

[2018-04-27 18:50] jtrujill commented on #235
Yes we would be able to do that. I'm just getting back from vacation so once I finish the input component I can take a look if no one else has taken this on

[2018-05-01 19:48] benjanderson opened #239 "hc-table relative position"
While using `hc-table` styles in atlas, we have a loading spinner that overlays the table while network requests happen. To get this spinner to position I had to do the following
[code]
Is their a reason the position is set for the table? This seems too opinionated

https://github.com/HealthCatalyst/Fabric.Cashmere/blob/master/lib/src/sass/tables.scss

[2018-05-01 20:00] corykon commented on #239
Are you talking about `position: relative`? (I don't think `display` is being set by tables.scss).

If so I'd agree with you, that opinion is not needed. I think it was a hold over from some other code I'd written before, needed to position something (likely a spinner, coincidentally) and wanting to center it within the table.

I'd approve a PR with that property removed. 👍

[2018-05-01 20:34] benjanderson commented on #239
I meant position, I have corrected the original comment. I will assign this to myself as I have been intending a number of small bug fixes

[2018-05-04 15:39] andrew-frueh commented on #231
The Steering Committee had a chance to discuss this on Wednesday and agreed that Cashmere is currently in an alpha release state.  I've [captured the current thinking on the wiki](https://github.com/HealthCatalyst/Fabric.Cashmere/wiki/Steering-Committee-Decisions#current-release), so I'm going to close this issue and we'll update the release schedule as soon as we know more.

[2018-05-04 15:39] #231 closed

[2018-05-07 20:38] joeskeen opened #240 "`hc-input` in IE is too short"
The Cashmere inputs in IE don't display tall enough; placeholder and entered text gets cut off:

![image](https://user-images.githubusercontent.com/12286274/39723815-2db3d75c-5204-11e8-85a0-a70d0ba3c9db.png)

This is what I did to fix this in Atlas as a quick hack to get the release out.  I imagine a more responsible fix is possible.

[code]

[2018-05-07 20:41] joeskeen opened #241 "`hc-pagination` buttons are huge in IE"
The pagination control buttons all display very large, even those that have little content:
![image](https://user-images.githubusercontent.com/12286274/39724006-be42efba-5204-11e8-9677-7f8e877d2b7a.png)

This is the fix I made in Atlas as a hack to get the release out.  I expect a more responsible fix is possible.

[code]

[2018-05-09 14:25] jtrujill commented on #148
I'm going to close this since this is old and nothing new has been reported back. However, [this](http://www.typescriptlang.org/docs/handbook/release-notes/typescript-2-7.html) under 'strict class initialization'  you'll see that this can be fixed when you have strict init enabled by using the following
[code]
The exclamation point tells the compiler that it does get assigned to

[2018-05-09 14:25] #148 closed

[2018-05-09 14:28] jtrujill commented on #101
Closing since these are no longer peer-dependencies

[2018-05-09 14:28] #101 closed

[2018-05-09 14:50] jtrujill commented on #19
Currently we support IE11 and up according to http://cashmere.healthcatalyst.net/guides/supported-browsers. We just need to make a note of this in the readme

[2018-05-09 15:23] jtrujill opened #242 "Documentation Generation"
Right now we don't have great documentation for Cashmere which requires that users of the library look at the source code to know what to use. Our current way of creating a demo component involves a lot of work and ends up not being very informative. As our components evolve, the documentation that we currently have will get our-of-sync with the code because we aren't generating our documentation

[2018-05-09 15:53] jtrujill commented on #242
I think this goes into the conversation of separating the style-guide from Cashmere. I think initially that we should replace everything found at http://cashmere.healthcatalyst.net/  with the generated docs.

The way I see this working is that along with generating the docs for each component, we would need to generate an index.html. This index would provide a menu for each of the docs and an ifra

[2018-05-09 16:01] andrew-frueh commented on #242
Okay that makes sense for short term and long term.  Perhaps even in the short term version we could still keep a version of the home page though.  I think it's valuable if we're pointing someone to Cashmere for the first time that we at least have an introduction before we launch them into the content.

[2018-05-09 17:33] benjanderson commented on #242
If I understand correctly, you proposing to scrap the current http://cashmere.healthcatalyst.net/ site and replace it with a doc site? Looking up dgeni here is a static site generated with that tool
http://wingedfox.github.io/dgeni-alive/docs/angular-route-segment/#/api

for context, it was generated from the following code
https://github.com/wingedfox/angular-route-segment/blob/master/src/route-s

[2018-05-11 01:12] jtrujill opened #243 "Navbar app icon as html"
I was messing around with the NavbarComponent today and couldn't get it to let me put a custom html element in the navbar. I just wanted to style some text and have that get projected into the app icon location but nothing was happening.

Right now it's limiting in that you need to pass a link to an asset instead of being able to define it as html. This issue is also present for the app brand loca

[2018-05-11 16:29] benjanderson commented on #243
The idea behind making the component opinionated as I did was to have the navbar consistent through each of the applications. The navbar is one of the most important elements that make are web apps look like a "brand".

However the `<hc-navbar-icon>` are as you described and allow you to put any html you desire. I do agree with you on the username section, looking back it shouldn't be so restricti

[2018-05-11 20:36] andrew-frueh commented on #242
I have a proposal for how we might be able to have our cake and eat it too on this one.  Jeremy makes a fair point that trying to pull together the generated docs into the existing site is a non-trivial amount of work, so that's why he's suggesting we have a clean site for them.  But the rest of the group has expressed concern about losing the current content on cashmere.healthcatalyst.net, which

[2018-05-11 20:50] andrew-frueh commented on #243
I think @benjanderson makes a good point here.  Referring back to our guiding principles of how Cashmere is trying to [unify the user experience across our entire catalog of Health Catalyst applications](https://github.com/HealthCatalyst/Fabric.Cashmere/wiki/Guiding-Principles#what-problems-does-it-solve), the navbar is probably our most central UX element - every app has it.  If you look across a

[2018-05-11 21:35] corytak commented on #242
@andrew-frueh I checked out your dgeni template and it looks really good. The only thing I would like to think more about is the size of the embedded stackblitz-- I found it difficult to view the preview pane.

Also I've been trying to think about a good way to keep the stackblitz demos we build up to date with our components. It seems like that if there's an api change to a component it would be

[2018-05-11 21:38] jtrujill commented on #243
What I'm proposing allows you to still enforce a particular style; however, it allows users more freedom with what gets added into the navbar. Maybe I want to add my own login/user section, currently you can't do that. If you take a look at the source code for the list component it demonstrates what I'm talking about. You can still use named projects that target elements like

- hc-navbar-link
- h

[2018-05-11 21:43] jtrujill commented on #242
I'm sure the styles page doesn't contain much angular code and could easily be extracted into an html file and linked to the index file that we'd use for the Dgeni docs. It'd be confusing to have two different sites each with it's own documentation. This would just be an intermediate step on our way to having a style-guide site, which would just be our current demo app, that would integrate better

[2018-05-11 21:52] corytak commented on #242
@jtrujill I think I understand what you're saying and it sounds much simpler than creating an umbrella repo, angular component library repo, and styles repo. To clarify we would convert our current styles pages into a static web page that includes a link to our generated docs from the angular library?

[2018-05-11 21:52] jtrujill commented on #242
@andrew-frueh The templates look good.

Next we'll need to talk about the public interface of our components and how documentation will work. It's common with libraries such as these to have a naming standard for things which are private. The standard is to prefix methods and properties with and underscore. This will be needed because we need to filter those elements out that are private so that d

[2018-05-11 21:57] corytak commented on #242
@jtrujill regarding prefixing private properties and methods with an underscore that is a [direct contradiction from the angular team:](https://angular.io/guide/styleguide#style-03-04) I'm okay deviating from standards for a purpose, but I want to make the decision of deviating from a community standard/best practice consciously.

Since we're using typescript, would it be possible for dgeni to rec

[2018-05-11 21:58] jtrujill commented on #242
@corykon What I'm wanting to do is replace everything found at https://cashmere.healthcatalyst.net with the static html files that are generated from Dgeni along with a styles page. There's a lot of work with getting the generated docs into the current app, work that needs to be spent in other places.

Again the app is not being deleted from the repo. The only thing that will change is what gets p

[2018-05-11 22:00] jtrujill commented on #242
Their style guide is not target for framework developers. I'm familiar with the standard and I'm a huge supporter of standards. Also just because something is public doesn't mean it should be a public API for users to use. Angular requires that any property or method that is used in the template to be public but that doesn't mean it should be available for the user to call. That is why an undersco

[2018-05-11 22:01] andrew-frueh commented on #242
@corytak - I completely agree with you on the StackBlitz iFrame.  I was struggling with that too.  It's a tough problem to solve because we don't want to take up so much space that the API documentation gets buried, but it needs enough space that you can actually use it.  Over on Angular material they split their component pages into API and Examples, which @jtrujill and I were thinking we might b

[2018-05-11 22:06] jtrujill commented on #242
@andrew-frueh what if we get the style-guide repo setup and comment out the components tab content and link to the Dgeni docs? I feel that's a good compromise between the different interests

[2018-05-11 22:07] andrew-frueh commented on #242
Yup - I agree that would be a good compromise, and it's not throw away work that way either.  Sets up the foundation for the long term solution.

[2018-05-11 22:12] jtrujill commented on #242
Awesome I'm going to be reading up on Dgeni to get very familiar with this and hopefully I can begin work on the processors sometime next week

[2018-05-11 23:16] corytak commented on #242
@jtrujill thanks for leading this up. I'm happy to help out by being a workhorse to write up the jsdocs for some components.

[2018-05-11 23:49] jtrujill commented on #242
Thanks. It'd be best to have all original authors of a component go through and get some initial comments going, since they'll know the components best

### Things that'll need documenting

- Component overview with examples of how it's used
- @Outputs and properties(@Inputs)
-  Methods that are part of the components API

### Things that don't need documentation

- Methods and properties that are

[2018-05-14 16:25] #239 closed

[2018-05-14 17:51] #199 closed

[2018-05-14 21:45] #197 closed

[2018-05-14 22:07] benjanderson commented on #200
I think this is a tabs issue, as many components are not fully rendered unless you do a full refresh of the page. I cannot get this to reproduce outside of tabs in microsoft edge. I am renaming this issue

[2018-05-14 22:27] benjanderson opened #248 "Most "Last updated" dates on demo site reflect last pull request"
Currently most the "Last updated" dates are May 14 based on the latest pull request. This is not at all accurate and we should either find an automated solution or remove that date...

![image](https://user-images.githubusercontent.com/1934453/40026662-76e26f6c-5793-11e8-96c8-4aee9d1a52e8.png)

[2018-05-14 22:36] jtrujill commented on #248
I'd be for removing that feature. If developers care about that they can use git or even GitHub to see when a directory was changed

[2018-05-15 15:41] andrew-frueh commented on #248
Yeah, I noticed this a little while back too.  I think there is some value in being able to see easily how stale a component is - although Jeremy is right that you can dig a bit on GitHub to find that information.  With the generated version of our docs, is this something that could be easily fixed?  @jtrujill does Dgeni have some kind of variable like {{ lastModifiedDate }} or something like that

[2018-05-15 21:37] #125 closed

[2018-05-17 15:02] jtrujill opened #250 "Tabs *ngFor doesn't set active tab"
When using iterating over an object to create a set of tabs using *ngFor the active tab never gets set

The following code causes the issue:

[code]

This can be fixed by using a @ContentChildren and watching for any changes and setting an active tab.

To fix this whenever the content changes I'll set the first hc-tab to be the active one

[2018-05-17 18:14] jtrujill opened #251 "Checkbox doesn't implement setDisabledState from ControlValueAccessor"
Because Checkbox doesn't implement the optional method setDisabledState from ControlValueAccessor when you call enable() or disable() from a formControl nothing happens. We need to implement this so that it sets the disabled state on the appropriate html element

[2018-05-18 19:10] #240 closed

[2018-05-20 23:48] jtrujill opened #255 "tab-set doesn't emit currently selected tab"
It would be immensely helpful to have an observable that people can subscribe to on the tab-set that notifies them when and what new tab has been selected.

[code]

We should allow the user to listen for a selectChange event and that event should be the following object

[code]

[2018-05-21 01:19] jtrujill opened #256 "Split tab component into two separate components: router and component based"
Currently the tab component has the capability to work with both a router link and components. Instead we should split these into two separate components. The reason these should be split is that it's confusing for a user to know that you can't mix the two: either go with a router based or component based, but don't mix.

It's also good to follow the single responsibility principle, which will eli

[2018-05-21 01:30] jtrujill commented on #256
I also like the implementation used by angular material where they allow you to use your own <router-outlet>. What that would allow is more flexibility for the users of the component. For example right now hc-navbar and hc-tabset essentially do the same thing with routes.

If we create a new component for links specifically we can simplify the navbar by only have one component that deals with a ta

[2018-05-21 01:34] jtrujill commented on #243
I created an issue #256 where I talked about creating a hc-tab-link component that could be used in this component to simplify this component. I think this would be a very good idea in order to stay DRY

[2018-05-21 05:31] jtrujill opened #257 "Tabs title multi-line?"
I think that it looks odd to have the tabs title be multiline since it adds a huge margin to the bottom of all the other tabs. I'm thinking that we shouldn't let text wrap. Here's an example of what it looks like:
![2018-05-20 23_25_17-claims quality explorer](https://user-images.githubusercontent.com/5596515/40292018-e1d0a964-5c85-11e8-8393-7cdeb4b871cf.png)

[2018-05-21 14:27] corytak opened #259 "Tab titles only allow string values"
As an enhancement to the tabs component, we may want to consider allowing tab titles to include icons as well as string values. An example of when this scenario might come up is using the tabs as part of a multi-page form and indicating that there is an invalid field on a tab that is not visible with a warning icon.

[2018-05-21 14:46] corytak commented on #72
@isaaclyman that sounds like a great plan! @jtrujill, are you cool if I close this issue and create another issue for creating an issue template?

[2018-05-21 15:52] jtrujill commented on #72
Makes sense. I would quote Isaac's comment from above when creating a new issue

[2018-05-21 15:59] corytak opened #260 "Issue Template"
Create an issue template according to @isaaclyman 's comments in #72

[2018-05-21 15:59] #72 closed

[2018-05-21 16:10] #250 closed

[2018-05-21 16:13] jtrujill opened #261 "Prettier for a consistent codebase"
I'm interested in keeping a consistent code style and I've been looking at the following [Prettier](https://github.com/prettier/prettier). I'm thinking this will be the way to go and a can get a pre-commit hook set so that it'll run prettier. This will keep our code looking the same and will remove any inconsistencies that IDEs introduce

[2018-05-21 16:18] benjanderson commented on #261
We have been using "prettier" on my team and we really like

[2018-05-21 16:36] jtrujill commented on #242
So I've been taking a look at what we could do and I'm thinking that to save time on this document generation we could use what angular material has and just modify it for our needs. Sounds good? Should we also use their templates as a base?

With the way their Dgeni docs work is that it'll group components under the same root directory in order to avoid having their docs for a single component sc

[2018-05-21 16:38] jtrujill commented on #261
I'll get a PR together and look into how we can use a precommit hook. I'm thinking about using [Husky](https://github.com/typicode/husky)

[2018-05-21 16:43] #241 closed

[2018-05-21 18:00] #227 closed

[2018-05-21 18:53] jtrujill commented on #261
@benjanderson what's needed to get vscode setup with this? Does a file need to be committed?

[2018-05-21 22:31] andrew-frueh commented on #259
+1 on this one, Cory.  I could see it being useful in a couple different scenarios, one is similar to what you mentioned where we want to "badge" the app.  For example, if I tab was being used for messages or any kind of feed, the badge could be used to show how new posts (similar to the invalid scenario you mentioned).  In that case, we'd want to be able to show a circle and a number inside it.

[2018-05-21 22:36] andrew-frueh commented on #257
Also agree - those horizontal tabs shouldn't be multi-line.  So maybe let's add `whitespace: nowrap;` and `overflow: hidden;`?

[2018-05-22 13:57] corytak commented on #259
I like the idea of putting whatever html we want in there. We might be able to accomplish that by using `ng-template` in addition to a `tab-label` directive.

[2018-05-22 15:45] #158 closed

[2018-05-22 23:27] jtrujill commented on #261
This has been merged into master

[2018-05-22 23:27] #261 closed

[2018-05-22 23:34] jtrujill commented on #259
We would just need to make sure the height never changes for these components. I think that we should maintain a consistent height for all tabs and avoid multi-line.

I think it sounds like a good idea to go with an ng-template but how do we handle the case when both a tabTitle and tab-label directive is used? Should the tabTitle act similar to the native title attribute on elements and act as a h

[2018-05-22 23:35] jtrujill commented on #259
Should we also be consistent and change tabTitle to tabLabel or just label since label doesn't conflict with any native attributes?

[2018-05-23 02:08] jtrujill commented on #180
I believe this issue has been fixed. Pull latest and if that's not the case reopen this issue

[2018-05-23 02:08] #180 closed

[2018-05-23 02:12] jtrujill commented on #248
This introduces a whole new set of concerns. How should we host documentation for the different app versions? Should we allow the user to select what version of documentation they want or should we only care about latest? If we only care about latest then I don't think we should be concerned with when a component was introduced.

I'd just like to say that hosting multiple version of the app would

[2018-05-23 02:17] jtrujill commented on #81
I believe the tri-flame has been removed from the navbar so I'm closing this

[2018-05-23 02:17] #81 closed

[2018-05-23 02:24] jtrujill commented on #77
This is an old issue but I'm still seeing things that should not be shown to the user of our library. We should not have any information about running a demo app like the below image shows:
<img width="834" alt="screen shot 2018-05-22 at 8 19 50 pm" src="https://user-images.githubusercontent.com/5596515/40400083-cc91b51a-5dfd-11e8-94b0-fafe3af0f50b.png">

Either we need to provide a readme specifi

[2018-05-23 14:00] corytak commented on #259
Naming wise, it's probably confusing for users to have `tabTitle`. It was changed to `tabTitle` from `title` because that name was colliding with the native attribute. It might make sense just to remove `tabTitle` altogether and have users use the tab-label for everything including simple text titles. Is that too cumbersome?

[2018-05-23 14:50] jtrujill commented on #259
I think that we should probably keep both just because i think the most common case will be a label that is just a string, but I think it's very important to support the case where they want to add more than text

[2018-05-23 19:07] andrew-frueh commented on #243
Just circling back on this one.  I think there are some great topics that have come up in this thread, and we have our next steering committee meeting in less than two weeks.  I'm going to make this our first topic of conversation in that meeting because it can lead to several important decisions not just around the navbar but our approach to components in general.

@jtrujill - just so I don't sur

[2018-05-23 20:41] andrew-frueh opened #266 "Select Component's Font-Family"
One of our updates to hc-select did something to the font-family so now it's grabbing the system font instead of Open Sans.

<img width="234" alt="screen shot 2018-05-23 at 2 39 19 pm" src="https://user-images.githubusercontent.com/22795893/40449912-40cf01be-5e97-11e8-9f6a-52a2d572e8ff.png">

[2018-05-23 20:45] andrew-frueh opened #267 "Responsive Styles/Components Demo Site"
Our responsive behavior on the demo site seems to have broken due to updates to the tabs and select components.  I'll assign this one to myself to get this fixed.

<img width="447" alt="screen shot 2018-05-23 at 2 41 31 pm" src="https://user-images.githubusercontent.com/22795893/40450109-e02b2f3a-5e97-11e8-82df-de478db0f5d3.png">

[2018-05-23 22:30] jtrujill opened #269 "Remove vertical tabs"
For a while now I've been thinking that horizontal tabs shouldn't exist. The reason I believe that is that the same thing can be accomplished with the DrawerComponent. It doesn't make sense to have overlapping features and so what I'd like to do is finish the drawer component so that it has an additional mode called 'side' that'll remain open even if the user tries to close the drawer.

Once that

[2018-05-23 22:48] andrew-frueh commented on #269
Could you explain this suggestion a little further @jtrujill?  I'm not sure I understand how the [drawer component](https://cashmere.healthcatalyst.net/components/drawer) and the horizontal version of our [tabs component](https://cashmere.healthcatalyst.net/components/tabs/1) overlap.

[2018-05-24 15:04] jtrujill commented on #269
I'm just realizing that I said horizontal tabs when I meant vertical. Sorry, yesterday was a long day doing that conversion to angular/cli@6.0.3. Also what I meant is that that style conflicts with the sideNav. I imagine that most pages will use the sideNav and within the content area it would look odd to have two vertical menus and so I imagine you'd almost always want to use the horizontal tabs.

[2018-05-24 23:21] jtrujill opened #271 "Deprecated rxjs imports"
I noticed while moving the project to the newest CLI that many rxjs imports are imported incorrectly from 'rxjs' or 'rxjs/Rx' which pulls the entire rxjs library into our project.

Other issues I saw are that operators are being pulled in like this `import "rxjs/add/operator/take`. This also makes it difficult to perform tree-shaking and is actually deprecated. The new way is described here https:

[2018-05-25 06:28] jtrujill opened #272 "Peer dependencies don't have a range"
Currently our library is written to accept a specific peer dependency instead of a range of acceptable versions. We should modify the peerDependencies to give a valid range for each library so that we reduce warnings clients see when they install Cashmere

[2018-05-25 15:26] jtrujill opened #273 "Server-side rendering and HostBinding and HostListener"
I was going through angular materials coding standard doc and found the following https://github.com/angular/material2/blob/master/CODING_STANDARDS.md#host-bindings, which states:

If this is true then maybe we should switch to using the host:{} metadata object found in the Directive or Component's Annotation. I'd like to look more into this since I've never used server-side rendering, but it woul

[2018-05-25 16:01] jtrujill opened #274 "Remove Fonts as a peer dependency"
Rather than have a peer dependency on OpenSans it would be better instead to have developers link to the company's standard font-family using a `<link rel="stylesheet" type="text/css" href="">` in their html head section. When we define the font-family for our components we should have fallback fonts.

The main point is that it'd be more beneficial to download the font through Google CDN network a

[2018-05-25 16:08] jtrujill commented on #161
This sounds out of scope of Cashmere and as corytak had pointed out there are many available solutions for this issue.

[2018-05-25 16:08] #161 closed

[2018-05-25 16:38] corytak commented on #83
I love the idea of changing the version to 1.0.0 with an alpha tag rather than incrementing the patch release.

[2018-05-25 18:01] #210 closed

[2018-05-25 21:52] #251 closed

[2018-05-25 23:01] jtrujill opened #276 "Upgrade to Angular 6"
When do we want to upgrade to Angular 6? I could do it now without much hassle. If you read the changes that have been done for 6, they all seem to be about dev tooling. I don't think it'd be difficult for developers to upgrade to 6, but before doing this I need to know from those using it if they're in a position to make that upgrade soon

[2018-05-29 14:34] benjanderson commented on #276
We are in a position to upgrade to 6 👍

[2018-05-29 16:05] corykon commented on #276
PopBuilder upgraded to 6 last week. :+1:

[2018-05-29 20:46] #272 closed

[2018-05-29 20:47] jtrujill commented on #276
I'll get a PR together and if we decide that it's okay to move forward with Angular 6 it can be merged in otherwise not a big deal to shelve it until we're ready

[2018-05-29 21:10] jtrujill opened #278 "Update getting-started guide for the new angular-cli 6 changes"
Since upgrading to angular-cli@6 the documentation we have is no longer valid. This needs to be updated with new instructions on how to run the user-guide app

[2018-05-29 22:06] jonest opened #280 "Adding hc-navbar-mobile-menu requires app switcher to be included"
I'm attempting to switch over Ops Console to use Cashmere piece by piece and when I switch the navbar, I can leave out the app switcher. When I then add in the mobile menu, it requires that I include the app switcher stuff, even if I set `appSwitcher="false"`.

[code]

[2018-05-29 22:37] #276 closed

[2018-05-29 23:11] #278 closed

[2018-05-30 13:16] jonest commented on #280
I believe this was addressed recently when @benjanderson pushed up a new package to npm. Is this correct?

[2018-05-30 15:11] jtrujill opened #282 "Cleanup devdependencies"
There are some dependencies hanging around that aren't used anymore.

[2018-05-30 15:52] benjanderson commented on #280
I can confirm this, and it is not fixed in 0.0.9
https://stackblitz.com/edit/cashmere-demo-wout-app-switcher?file=app%2Fnavbar%2Fnavbar.component.html

I think this is a bug :bug:

[2018-05-30 15:56] benjanderson commented on #271
according to https://update.angular.io/ these are the steps to follow. I am marking this as a good first issue as its a very straight forward fix

- Remove deprecated RxJS 6 features using rxjs-tslint auto update rules.
- npm install -g rxjs-tslint
- rxjs-5-to-6-migrate -p src/tsconfig.app.json
- Once you and all of your dependencies have updated to RxJS 6, remove rxjs-compat.

[2018-05-30 15:59] jtrujill commented on #271
I'll get a PR together by end of day

[2018-05-30 16:05] jonest commented on #280
Ah, you're correct. I was mixing this issue up with the one where some components weren't included until that recent update :)

[2018-05-30 18:34] benjanderson commented on #260
I love this idea, I would just add one more thing and if it is at all possible they could reproduce the issue by forking this stackblitz: https://stackblitz.com/edit/cashmere-demo?file=app%2Fhome%2Fhome.component.html

I have been maintaining this stackblitz and it has been excellent in being close to the desktop environment

If anyone has any concerns let me know because I would be willing to spe

[2018-05-31 16:04] #271 closed

[2018-05-31 18:59] corykon opened #284 "Grid/Page Layout"
Would be helpful to have some styles or standards for page layout, whether a responsive grid system like bootstrap's, or something entirely different.

I'm working on installing @corytak's awesome micro front end for value set building, but we use different left/right margins, so things end up looking a little funky. Using a standard grid from Cashmere in both would be one good way to solve this.

[2018-05-31 19:56] andrew-frueh commented on #284
I’d love to help with this @corykon.  Feel free to schedule some time for us to brainstorm when you’re ready to dig into it.

[2018-06-01 15:42] jtrujill opened #285 "Add Coveralls badge to readme for code coverage"
Right now we don't have enough of the library tested and I think we've neglected something so important. As a first step towards having a more tested library I'd like to include a unit test coverage badge to the readme.

[2018-06-04 16:54] JonSams opened #287 "Picklist: Add custom ordering functionality"
Hi I have a use case where I need a picklist that is more generic in nature that can perform simple tasks like selecting items and re-ordering them similar to this PrimeNG component. https://www.primefaces.org/primeng/#/picklist. Specifically I want to use this for our Leading Wisely product, but do do so I need at a minimum to have a toggle added that could disable auto-sorting on the target list

[2018-06-05 04:59] jtrujill commented on #284
I'm thinking that this could be moved to a later release point. I would like to get something implemented but there are alternatives such as bootstrap, so I don't feel this is necessary right away. However, I really enjoyed angularjs material's implementation that I used several years ago, which can be found [here](https://material.angularjs.org/latest/layout/introduction). I ended up writing some

[2018-06-05 20:13] #285 closed

[2018-06-05 23:46] #216 closed

[2018-06-06 02:29] jtrujill opened #290 "hc-form-field needs to work with hc-select"
hc-form-field should work with hc-select so that we can have a uniform handling of errors and labels for form elements.

- Interface will need to be created that hc-form-field can use.
- InputDirective and hc-select will need to implement
- Pull hc-form-field out of input directory and place it along with it's helper directives and components(hcPrefix, hcSuffix, hcError) in its own directory

[2018-06-06 17:33] #260 closed

[2018-06-06 19:58] corytak opened #292 "Secondary Entry Points with ngPackagr"
**Describe the problem this feature request is solving**
As per discussion in Cashmere meeting today, the package size appears to be large even when only one module is imported

**Describe the solution you'd like**
Add secondary entry points to ngPackagr config in order to facilitate the import of just one module by itself

**Describe alternatives you've considered**
We've talked about having only

[2018-06-07 20:52] andrew-frueh opened #293 "Accordion - Documentation Update"
Update component code to work with Dgeni doc generation.  See the [project overview](https://github.com/HealthCatalyst/Fabric.Cashmere/projects) for more details.

[2018-06-07 20:52] andrew-frueh opened #294 "Breadcrumbs - Documentation Update"
Update component code to work with Dgeni doc generation.  See the [project overview](https://github.com/HealthCatalyst/Fabric.Cashmere/projects) for more details.

[2018-06-07 20:53] andrew-frueh opened #295 "Button - Documentation Update"
Update component code to work with Dgeni doc generation.  See the [project overview](https://github.com/HealthCatalyst/Fabric.Cashmere/projects) for more details.

[2018-06-07 20:53] andrew-frueh opened #296 "Checkbox - Documentation Update"
Update component code to work with Dgeni doc generation.  See the [project overview](https://github.com/HealthCatalyst/Fabric.Cashmere/projects) for more details.

[2018-06-07 20:54] andrew-frueh opened #297 "Chips - Documentation Update"
Update component code to work with Dgeni doc generation.  See the [project overview](https://github.com/HealthCatalyst/Fabric.Cashmere/projects) for more details.

[2018-06-07 20:54] andrew-frueh opened #298 "Drawer - Documentation Update"
Update component code to work with Dgeni doc generation.  See the [project overview](https://github.com/HealthCatalyst/Fabric.Cashmere/projects) for more details.

[2018-06-07 20:54] andrew-frueh opened #299 "Icon - Documentation Update"
Update component code to work with Dgeni doc generation.  See the [project overview](https://github.com/HealthCatalyst/Fabric.Cashmere/projects) for more details.

[2018-06-07 20:55] andrew-frueh opened #300 "Input - Documentation Update"
Update component code to work with Dgeni doc generation.  See the [project overview](https://github.com/HealthCatalyst/Fabric.Cashmere/projects) for more details.

[2018-06-07 20:55] andrew-frueh opened #301 "List - Documentation Update"
Update component code to work with Dgeni doc generation.  See the [project overview](https://github.com/HealthCatalyst/Fabric.Cashmere/projects) for more details.

[2018-06-07 20:55] andrew-frueh opened #302 "Modal - Documentation Update"
Update component code to work with Dgeni doc generation.  See the [project overview](https://github.com/HealthCatalyst/Fabric.Cashmere/projects) for more details.

[2018-06-07 20:56] andrew-frueh opened #303 "Navbar - Documentation Update"
Update component code to work with Dgeni doc generation.  See the [project overview](https://github.com/HealthCatalyst/Fabric.Cashmere/projects) for more details.

[2018-06-07 20:56] andrew-frueh opened #304 "Pagination - Documentation Update"
Update component code to work with Dgeni doc generation.  See the [project overview](https://github.com/HealthCatalyst/Fabric.Cashmere/projects) for more details.

[2018-06-07 20:56] andrew-frueh opened #305 "Picklist - Documentation Update"
Update component code to work with Dgeni doc generation.  See the [project overview](https://github.com/HealthCatalyst/Fabric.Cashmere/projects) for more details.

[2018-06-07 20:57] andrew-frueh opened #306 "Popover - Documentation Update"
Update component code to work with Dgeni doc generation.  See the [project overview](https://github.com/HealthCatalyst/Fabric.Cashmere/projects) for more details.

[2018-06-07 20:57] andrew-frueh opened #307 "Progress Indicator - Documentation Update"
Update component code to work with Dgeni doc generation.  See the [project overview](https://github.com/HealthCatalyst/Fabric.Cashmere/projects) for more details.

[2018-06-07 20:57] andrew-frueh opened #308 "Radio Button - Documentation Update"
Update component code to work with Dgeni doc generation.  See the [project overview](https://github.com/HealthCatalyst/Fabric.Cashmere/projects) for more details.

[2018-06-07 20:58] andrew-frueh opened #309 "Select - Documentation Update"
Update component code to work with Dgeni doc generation.  See the [project overview](https://github.com/HealthCatalyst/Fabric.Cashmere/projects) for more details.

[2018-06-07 20:58] andrew-frueh opened #310 "Subnavbar - Documentation Update"
Update component code to work with Dgeni doc generation.  See the [project overview](https://github.com/HealthCatalyst/Fabric.Cashmere/projects) for more details.

[2018-06-07 20:58] andrew-frueh opened #311 "Tabs - Documentation Update"
Update component code to work with Dgeni doc generation.  See the [project overview](https://github.com/HealthCatalyst/Fabric.Cashmere/projects) for more details.

[2018-06-07 20:58] andrew-frueh opened #312 "Tile - Documentation Update"
Update component code to work with Dgeni doc generation.  See the [project overview](https://github.com/HealthCatalyst/Fabric.Cashmere/projects) for more details.

[2018-06-07 20:59] andrew-frueh opened #313 "Typeform Survey - Documentation Update"
Update component code to work with Dgeni doc generation.  See the [project overview](https://github.com/HealthCatalyst/Fabric.Cashmere/projects) for more details.

[2018-06-11 17:04] jtrujill opened #315 "Integrate documentation into UserGuide"
**Describe the problem this feature request is solving**
Need to integrate documentation with the user-guide app

**Describe the solution you'd like**
When we build the user-guide project we will also generate the documentation for Cashmere. The docs will be generated in the dist/docs/api and the docs/* will need to be moved to the assets/ of the user-guide app to make the docs accessible.

Next w

[2018-06-11 17:19] jtrujill commented on #315
We can look into using the stackblitz sdk. Here is a [blog](https://medium.com/@ericsimons/stackblitz-sdk-instantly-add-live-environments-to-your-docs-blogs-more-73dab05c51ae) that talks about using that to generate examples on-demand.

[2018-06-12 19:02] jonest opened #316 "Pagination event is raised twice on each click"
**Describe the bug**
Event is raised twice when paging. See demo below.

**To Reproduce**
https://cashmere-demo-zkqvml.stackblitz.io
Open the console and you'll see each paging gets logged to the console twice.

**Expected behavior**
I'd expect it to only trigger the event once per click, to avoid making double the requests.

**Screenshots**
If applicable, add screenshots to help explain your prob

[2018-06-12 21:45] corykon commented on #287
@JonSams Here are some notes on how I'd approach building this out. For sure these notes are incomplete/imperfect, but hopefully a good starting place. Reach out anytime with questions.

![image](https://user-images.githubusercontent.com/12416432/41318576-0acb20e2-6e56-11e8-8ebe-5e009e3dfed9.png)

**picklist-pane.model.ts**
	- `SelectListOption`: Add new number property, `position`
	- `FilterableS

[2018-06-13 05:36] #83 closed

[2018-06-13 23:43] benjanderson opened #320 "Cannot commit"
**Describe the bug**
When I try to commit code I get the following error

**To Reproduce**
[code]
**Expected behavior**
commit without any errors

[2018-06-13 23:51] benjanderson commented on #320
after running `npm install -g @commitlint/cli @commitlint/config-conventional` I can commit, but I am still having issues getting the correct commit syntax

[2018-06-14 00:08] benjanderson commented on #320
figured it out, but it really should be documented

[2018-06-14 00:10] jonest commented on #320
@benjanderson if you look at the last several commits on `master` you'll need to follow that convention where it's something like `fix: message"` or something. I'm on my phone at the moment so it's hard to look! I'm sure the Husky documentation will have some details about how it's set up

[2018-06-14 00:55] jtrujill commented on #320
You should only need to install `npm install -g @commitlint/cli` and then you should be able to do the following `git cz` this will walk you through setting the commit message correctly

[2018-06-14 00:58] jtrujill commented on #320
git cz is a replacement for git commit, so use git cz to easily write commit messages

[2018-06-14 00:58] jonest commented on #320
Oh is it commitizen? For some reason I thought I saw Husky 😃

[2018-06-14 01:00] jtrujill commented on #320
Husky helps with git precommit hooks. The linting is tied into the precommit hooks using husky

[2018-06-14 02:36] jtrujill commented on #320
I'm going to close this issue since it's been resolved. I've updated the contribution-guide, which could use an overhaul but with so few people showing interest in contributing it's at the bottom of my list. Also this is probably the only thing that could use documentation. Everything else is fairly standard. I'll see about creating an issue to update the contribution.md so that it talks about bes

[2018-06-14 02:36] #320 closed

[2018-06-14 02:41] jtrujill opened #325 "Separate Dev guides from User Guide app and update Dev guide"
We need to update our contribution guide so that it talks about best practices, how to submit issues, ask for feature requests, PR submission guidelines and commit message convention.

As an example here is what Angular materials contributing.md looks like https://github.com/angular/material2/blob/master/CONTRIBUTING.md

Also we should remove all of the ::: from the file. It doesn't belong in the

[2018-06-14 16:07] benjanderson commented on #325
Thanks for creating this relating to the issue I created #320

Its funny you mention the material repository, they do have a guides directory https://github.com/angular/material2/tree/master/guides , so I would be ok keeping it. However, I do think having a `CONTRIBUTING.md` in the root does make it more visible and seems to be more of a standard. Cashmere is based off the material project and it

[2018-06-14 16:15] jtrujill commented on #325
If you look at their guides it's centered around the user's of the library and not developers of the library. I think that's an important distinction that we should follow.

The user guide app is geared towards users of the library. For that reason we should create the HTML we want within the user guide app and not in markdown. The reason I hate the triple colon is that it's difficult to tell whic

[2018-06-14 22:52] jtrujill opened #328 "hc-modal move styles into component's scss files"
**Describe the bug**
If the user doesn't import the cashmere.scss file into their project, hc-modal doesn't have any styling applied. This is what's required `@import "~@healthcatalyst/cashmere/scss/cashmere";`

**Expected behavior**
The modal should have those styles applied whether the user has imported `@import "~@healthcatalyst/cashmere/scss/cashmere";`  or not.

**Screenshots**
<img width="64

[2018-06-15 16:22] cedar-ave opened #329 "Feedback blocks"
There is a need on a team for an alert that lights up when users are using the application in a non-optimal way (that is not a pop-up requiring an extra click to close) -- something like:

![2018-06-15 10_21_00-adobe xd cc](https://user-images.githubusercontent.com/15255009/41478702-ed4fd8b4-7085-11e8-82d3-2b516f32e5c9.png)

This is an example on MailChimp's style guide:

![2018-06-15 10_20_03-fee

[2018-06-15 16:52] jtrujill commented on #329
After taking a look at the documentation maybe it'd be good to allow more freedom with the component so that you can provide you own custom icon. It would be easy to allow the user to add styling or background and foreground color.

Also maybe it'd be good to allow them to easily have a multi-line chip like shown above. Again that should be easy to do. @andrew-frueh what do you think of that idea?

[2018-06-15 17:18] jtrujill commented on #329
Another thing what do you think about changing the chips from using a color property to a type property so that you can use more descriptive names for what the chip is, such as: warning, error, info, success

[2018-06-18 16:33] cedar-ave opened #333 "Documentation for multiple options in split buttons"
There may be a need for more clarification on split button options, particularly when there are multiple items to select.

_Current in Cashmere documentation:_

![2018-06-18 10_27_06-cashmere](https://user-images.githubusercontent.com/15255009/41549217-56e7fd3e-72e2-11e8-82e4-49ce713daf09.png)

_Use case (the way this example is styled is from a pre-Cashmere prototype):_

![2018-06-18 10_28_48-ado

[2018-06-18 17:05] jtrujill commented on #333
Split button allows for multiple items. There is already a ticket to improve documentation for all components. The button component documentation specifically is being traced by issue #295.

I'll be doing a lot to improve documentation of Cashmere in general such as improving the demos that are available. This is going to be an iterative approach and I'll require help from others with the document

[2018-06-18 17:05] #333 closed

[2018-06-18 22:26] jtrujill opened #334 "Cashmere docs"
I've created this ticket so people can track where I am in the process of doing documentation for Cashmere. The only part I'll really need help with is creating demos for the different components. First thing I'll do is create the Stackblitz demo project so that I can get help from people with writing demo files.

### UserGuide Component Section
To make adding a new component easier we need to rem

[2018-06-19 21:04] jonest opened #335 "Input/Select box sizing"
**Describe the bug**
The select box is slightly smaller than the input box.

**To Reproduce**
https://stackblitz.com/edit/cashmere-demo-trmhwv

**Expected behavior**
I expected them to be the same height, but it appears the input box is slightly taller so they look funky next to each other.

**Screenshots**
![image](https://user-images.githubusercontent.com/3075414/41624129-b9ee9446-73e2-11e8-8bc0

[2018-06-19 21:09] jonest opened #336 "Input box background color should be white"
**Describe the bug**
The input box takes the same color as the background, but I _think_ all our mockups have it with a white background, regardless of the container, similar to what the select box has in the demo below.

**To Reproduce**
https://stackblitz.com/edit/cashmere-demo-trmhwv

**Expected behavior**
I'd expect the background of the input box to be white, regardless of what it's contained

[2018-06-20 17:01] #315 closed

[2018-06-20 17:10] jonest commented on #336
I'm currently looking into this if someone wants to assign me to this @jtrujill @benjanderson @andrew-frueh

[2018-06-20 17:15] jtrujill commented on #336
I'm doing some work on the input component at the moment I can sneak that in

[2018-06-20 21:07] jtrujill commented on #325
@benjanderson @andrew-frueh Any input? I'd like to keep the UserGuide app centered on documentation of the use of the library and keep dev docs separate. We can link to a dev getting-started.md on the cashmere.healthcatalyst.net site if we want.

For the documentation that would remain in the UserGuide app like User Feedback, getting-started(user of library) and supported browsers, I could create

[2018-06-20 21:51] #336 closed

[2018-06-21 17:37] benjanderson commented on #310
The following markdown was removed and those contents will need to be converted to the new documentation standard

https://github.com/HealthCatalyst/Fabric.Cashmere/blob/a231015e618be05f10c8bb73f41cda070fc63037/guides/components/subnav.md

[2018-06-21 17:39] benjanderson commented on #311
The following file was deleted and the contents will need to be migrated to the new documentation standard

https://github.com/HealthCatalyst/Fabric.Cashmere/blob/a231015e618be05f10c8bb73f41cda070fc63037/guides/components/tabs.md

[2018-06-21 17:40] benjanderson commented on #309
The following markdown was deleted and the contents will need to be transitioned to the new documentation standard
https://github.com/HealthCatalyst/Fabric.Cashmere/blob/a231015e618be05f10c8bb73f41cda070fc63037/guides/components/select.md

[2018-06-21 17:40] benjanderson commented on #308
The following file was deleted and the contents will need to be transitioned to the new documentation standard

https://github.com/HealthCatalyst/Fabric.Cashmere/blob/a231015e618be05f10c8bb73f41cda070fc63037/guides/components/radio-button.md

[2018-06-21 17:41] benjanderson commented on #307
@corykon does this need to be closed?

[2018-06-21 17:42] benjanderson commented on #306
The following file was deleted and will need to be transitioned to the new documentation standard

https://github.com/HealthCatalyst/Fabric.Cashmere/blob/a231015e618be05f10c8bb73f41cda070fc63037/guides/components/popover.md

[2018-06-21 17:43] benjanderson commented on #304
The following file was deleted and will need to be transitioned to the new documentation standard

https://github.com/HealthCatalyst/Fabric.Cashmere/blob/a231015e618be05f10c8bb73f41cda070fc63037/guides/components/pagination.md

[2018-06-21 17:43] benjanderson commented on #303
the following was deleted and will need to be transitioned to the new documentation standard

https://github.com/HealthCatalyst/Fabric.Cashmere/blob/a231015e618be05f10c8bb73f41cda070fc63037/guides/components/navbar.md

[2018-06-21 17:44] benjanderson commented on #302
The following file was deleted and will need to be transitioned to the new documentation standard

https://github.com/HealthCatalyst/Fabric.Cashmere/blob/a231015e618be05f10c8bb73f41cda070fc63037/guides/components/modal.md

[2018-06-21 17:45] benjanderson commented on #301
The following file was deleted and will need to be transitioned to the new documentation standard
https://github.com/HealthCatalyst/Fabric.Cashmere/blob/a231015e618be05f10c8bb73f41cda070fc63037/guides/components/list.md

[2018-06-21 17:46] benjanderson commented on #299
The following file was deleted and will need to be transitioned to the new documentation standard

https://github.com/HealthCatalyst/Fabric.Cashmere/blob/a231015e618be05f10c8bb73f41cda070fc63037/guides/components/icon.md

[2018-06-21 17:46] benjanderson commented on #298
The following file was deleted and will need to be transitioned over to the new documentation standard
https://github.com/HealthCatalyst/Fabric.Cashmere/blob/a231015e618be05f10c8bb73f41cda070fc63037/guides/components/drawer.md

[2018-06-21 17:47] benjanderson commented on #297
The following was deleted and will need to be transitioned to the new documentation standard
https://github.com/HealthCatalyst/Fabric.Cashmere/blob/a231015e618be05f10c8bb73f41cda070fc63037/guides/components/chip.md

[2018-06-21 17:48] benjanderson commented on #296
The following file was deleted and will need to be transitioned to the new documentation standard
https://github.com/HealthCatalyst/Fabric.Cashmere/blob/a231015e618be05f10c8bb73f41cda070fc63037/guides/components/checkbox.md

[2018-06-21 17:48] benjanderson commented on #294
The following file was deleted and will need to be transitioned to the new documentation standard

https://github.com/HealthCatalyst/Fabric.Cashmere/blob/a231015e618be05f10c8bb73f41cda070fc63037/guides/components/breadcrumbs.md

[2018-06-21 19:20] benjanderson commented on #325
I am all for standardizing what the general standard is but I think their needs to be a line drawn. We need to weigh the effort conforming to an ever changing standard and spending our time re-writing code verses leaving it as is and works well. Cashmere is almost exclusively going to be used by health catalyst developers, so our audience is quite a bit more narrow. Plus that effort could be spent

[2018-06-21 20:54] #307 closed

[2018-06-21 22:12] benjanderson commented on #325
I should have said best practices instead of standardizing.

I would vote to keep them as markdown and remove the ::: if its a choice between markdown and html

You make good some good points, and I appreciate all that you do. This project would not be as far without your efforts. I try to actively participate in conversations because care and want to show my support.

[2018-06-22 15:11] jonest opened #340 "`hc-navbar-mobile-menu` has a dependency on the App Switcher"
**Describe the bug**
`hc-navbar-mobile-menu` appears to have a dependency on the App Switcher. Adding in `hc-navbar` works fine without the app switcher, but adding in `hc-navbar-mobile-menu`, leaving the `appSwitcher` property off or setting to `false` causes this error in the console:

[code]

**To Reproduce**
https://stackblitz.com/edit/cashmere-demo-a69f58

On this particular page ([navbar.com

[2018-06-22 15:17] benjanderson commented on #340
@jonest you created this bug #280 I believe this is a duplicate of that one

[2018-06-22 15:20] jonest commented on #340
@benjanderson you're right! I didn't realize I'd logged this once before :) I'll close it and add the stackblitz link as a comment (plus this is now referenced there).

[2018-06-22 15:21] jonest commented on #280
From issue #340 :

https://stackblitz.com/edit/cashmere-demo-a69f58

On this particular page ([navbar.component.html](https://stackblitz.com/edit/cashmere-demo-a69f58?file=app%2Fnavbar%2Fnavbar.component.html,`)) if you uncomment the `hc-navbar-mobile-menu` it will no longer load the page correctly

[2018-06-22 15:57] jonest opened #341 "AppSwitcher assumes `/v1` when calling discovery service"
**Describe the bug**
On this line [here](https://github.com/HealthCatalyst/Fabric.Cashmere/blob/1ab3f38e77d1623ebf6d00205cdc490b531430dd/projects/cashmere/src/lib/app-switcher/app-switcher.service.ts#L28), the app switcher service assumes the user is hitting `/v1`, whereas the consumer should probably be the one that includes the API version when importing the app switcher module:
[code]

**Expect

[2018-06-22 16:04] jtrujill commented on #280
It seems to make more sense to extract appswitcher out into it's own directive. Then whatever element has the appswitcher applied to it get triggered when a user has clicked on that element.

I haven't looked at the source code for iappswitcherservice but does it make sense for it to be an interface? Could it not take in a config object that tells it how to find the different services?

[2018-06-22 16:12] jonest opened #342 "App switcher has hard coded icon"
**Describe the bug**
App switcher assumes the icon for the switcher: https://github.com/HealthCatalyst/Fabric.Cashmere/blob/1ab3f38e77d1623ebf6d00205cdc490b531430dd/projects/cashmere/src/lib/app-switcher/app-switcher.component.html#L8

[code]

**Expected behavior**
I would expect this to be configurable by the user, similarly to how the navbar works. Perhaps it can be provided by the navbar that i

[2018-06-22 16:22] jtrujill commented on #342
I had made a previous [comment](https://github.com/HealthCatalyst/Fabric.Cashmere/issues/280#issuecomment-399493560) about this that I believe would also solve this. Also I guess I'm a bit confused with how this currently works. Looking at the [navbar](https://cashmere.healthcatalyst.net/components/navbar) it looks like you can provide your own icon on the left side but the appswitcher looks like

[2018-06-22 18:03] corytak commented on #292
Per our phone call discussion, we're going to use the [Webpack Bundle Analyzer](https://www.npmjs.com/package/webpack-bundle-analyzer) to see if this is an issue that needs to be done at all.

[2018-06-22 19:03] benjanderson commented on #341
I am leaving some issues here as notes for me to fix with this bug

We also need to warn when url isn't provided instead of crashing

setup dependency injection the new way
https://angular.io/guide/dependency-injection#create-an-injectable-heroservice

[2018-06-22 22:38] #313 closed

[2018-06-22 22:48] jonest opened #345 "Split button menu item triggers primary button click in addition to it's own click action"
**Describe the bug**
Clicking on a split button menu item triggers both click events (primary button and the menu item).

**To Reproduce**
https://stackblitz.com/edit/cashmere-demo-oavfrk

Open the console and click on the main button, then click on the dropdown menu item button. Both functions are called when the menu item is clicked, instead of just the menu item function.

**Expected behavior**

[2018-06-22 23:41] jtrujill commented on #345
So the reason this happens is that when you click on the menu item it doesn't stop the propagation of the event which ends up reaching hc-split-button. This will most likely require a large change of the structure of the component. Let me think about this over the weekend

[2018-06-23 03:57] benjanderson commented on #280
app switcher is its own component and I believe the dependency was added when we added the mobile capabilities into the navbar and had a "View all my applications" buttons. I am working on a solution...

![image](https://user-images.githubusercontent.com/1934453/41805298-8015ca3a-7664-11e8-91c2-45d6320a2912.png)

the setup is the following, making it so navbar doesn't really need to know about the

[2018-06-24 20:43] #345 closed

[2018-06-24 20:47] #242 closed

[2018-06-24 22:51] #300 closed

[2018-06-25 17:11] jtrujill opened #353 "Create hc-icon directives for pre-defines icon sizes"
Moving the pre-defined icon sizes to directives instead of css classes has the added benefit of having it be auto-completed by the IDE. This will also allow for better documentation of this feature.

[2018-06-25 17:12] #293 closed

[2018-06-25 17:21] #298 closed

[2018-06-25 17:34] #295 closed

[2018-06-25 17:54] #77 closed

[2018-06-25 22:31] #299 closed

[2018-06-25 23:42] #301 closed

[2018-06-26 05:48] jtrujill commented on #188
This issue was solved with PR #331

[2018-06-26 05:48] #188 closed

[2018-06-26 17:44] andrew-frueh commented on #312
There's actually nothing to update on this one, because this is the simplest of components - it's pretty much a glorified css style; no inputs or public functions.  So the I wonder what dgeni will do if there is nothing for it to generate?  @jtrujill - do you think it will create an empty table, or just not create a table at all (preferable).